/* =Theme SCSS Syntax ================================================== */
/* line 2, ../_assets/sass/app/_app-global.scss */
html, body {
  height: 100%;
}

/* =Typography ========================================================= */
/* line 7, ../_assets/sass/app/_app-global.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* =Containers ========================================================= */
/* line 13, ../_assets/sass/app/_app-global.scss */
html #peek, body #peek {
  min-height: 100%;
}

/* line 17, ../_assets/sass/app/_app-global.scss */
#peek {
  background: #f6f5f2;
  z-index: 2;
  position: relative;
}

/* line 23, ../_assets/sass/app/_app-global.scss */
#scrollable {
  padding: 2.75em 0 6.25em;
  z-index: 5;
}

/*
#container {
  @include translateZ(0);
}

#container.row {
}
*/
/* line 43, ../_assets/sass/app/_app-global.scss */
#main {
  background-color: #fff;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 48, ../_assets/sass/app/_app-global.scss */
#primary {
  padding-top: 1em;
  padding-bottom: 1em;
}

@media only screen and (min-width: 90em) {
  /* line 54, ../_assets/sass/app/_app-global.scss */
  #main {
    border: 1px solid red;
  }
}
@media only screen and (min-width: 48em) {
  /* line 60, ../_assets/sass/app/_app-global.scss */
  #main {
    margin: 0 auto;
    max-width: 90em;
  }

  /* line 65, ../_assets/sass/app/_app-global.scss */
  .flex-row {
    display: table;
    table-layout: fixed;
    width: 100%;
    /* required! */
  }

  /* line 71, ../_assets/sass/app/_app-global.scss */
  .flex-col {
    float: none !important;
    display: table-cell;
    position: relative;
    vertical-align: top;
  }
}
/* =Top Bar ============================================================ */
/* line 80, ../_assets/sass/app/_app-global.scss */
#sticky {
  z-index: 99;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 89, ../_assets/sass/app/_app-global.scss */
.navwrap {
  background-color: #50b7dc;
}

/* line 93, ../_assets/sass/app/_app-global.scss */
#navbar {
  margin: auto;
  padding: 0;
  line-height: 44px;
  height: 44px;
  min-height: 44px;
  background-color: #2aa4cf;
  overflow: hidden;
}
/* line 103, ../_assets/sass/app/_app-global.scss */
#navbar > ul, #navbar section > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: auto;
  height: auto;
  display: inline;
}
/* line 110, ../_assets/sass/app/_app-global.scss */
#navbar > ul > li, #navbar section > ul > li {
  float: left;
  margin: 0;
  padding: 0;
  -webkit-transition: background-color 0.1s ease;
  -moz-transition: background-color 0.1s ease;
  transition: background-color 0.1s ease;
}
/* line 115, ../_assets/sass/app/_app-global.scss */
#navbar > ul > li > a, #navbar section > ul > li > a {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  line-height: 44px;
}
/* line 126, ../_assets/sass/app/_app-global.scss */
#navbar ul.right li {
  left: auto;
  right: 0;
}
/* line 133, ../_assets/sass/app/_app-global.scss */
#navbar ul.title-area li.menu-icon {
  padding: 10px;
  background-color: #2693ba;
}
/* line 136, ../_assets/sass/app/_app-global.scss */
#navbar ul.title-area li.menu-icon a {
  padding: 12px;
  background-image: url(/img/menu-icon.svg);
}
/* line 143, ../_assets/sass/app/_app-global.scss */
#navbar .navsection {
  -webkit-transition: left 300ms ease-out;
  -moz-transition: left 300ms ease-out;
  transition: left 300ms ease-out;
}
/* line 149, ../_assets/sass/app/_app-global.scss */
#navbar .navsection ul.navmenu {
  display: none;
}
/* line 153, ../_assets/sass/app/_app-global.scss */
#navbar .navsection ul.usermenu li {
  color: #fff;
  border-left: solid 1px #248cb1;
}
/* line 157, ../_assets/sass/app/_app-global.scss */
#navbar .navsection ul.usermenu a {
  color: #fff;
  text-decoration: none;
  padding: 0 1em;
}

@media only screen and (min-width: 58.75em) {
  /* line 169, ../_assets/sass/app/_app-global.scss */
  .navwrap {
    border-bottom: 1px solid #2693ba;
    -webkit-box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.3);
  }

  /* line 174, ../_assets/sass/app/_app-global.scss */
  #navbar {
    max-width: 90em;
    overflow: visible;
  }
  /* line 179, ../_assets/sass/app/_app-global.scss */
  #navbar .title-area .menu-icon {
    display: none;
  }
  /* line 185, ../_assets/sass/app/_app-global.scss */
  #navbar .navsection ul.navmenu {
    display: inline;
  }
  /* line 189, ../_assets/sass/app/_app-global.scss */
  #navbar .navsection ul.navmenu > li.submenu.active, #navbar .navsection ul.navmenu > li.submenu.locked {
    border-bottom: 4px solid #ddf0f9;
    background: #ddf0f9;
  }
  /* line 193, ../_assets/sass/app/_app-global.scss */
  #navbar .navsection ul.navmenu > li.submenu > a {
    padding-right: 3.75em;
  }
  /* line 196, ../_assets/sass/app/_app-global.scss */
  #navbar .navsection ul.navmenu > li.submenu.active > a, #navbar .navsection ul.navmenu > li.submenu.locked > a {
    color: #00a4e2;
  }
  /* line 199, ../_assets/sass/app/_app-global.scss */
  #navbar .navsection ul.navmenu > li.submenu > a:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 5px;
    border-color: #fff transparent transparent transparent;
    margin-right: 0.875em;
    margin-top: -0.15625em;
    position: absolute;
    top: 50%;
    right: 0;
  }
  /* line 212, ../_assets/sass/app/_app-global.scss */
  #navbar .navsection ul.navmenu > li.submenu.active > a:after, #navbar .navsection ul.navmenu > li.submenu.locked > a:after {
    border-top-color: #00a4e2;
  }
  /* line 215, ../_assets/sass/app/_app-global.scss */
  #navbar .navsection ul.navmenu > li.submenu .submenu-content {
    display: none;
  }
  /* line 218, ../_assets/sass/app/_app-global.scss */
  #navbar .navsection ul.navmenu > li.submenu.active .submenu-content, #navbar .navsection ul.navmenu > li.submenu.locked .submenu-content, #navbar .navsection ul.navmenu > li.submenu:focus .submenu-content {
    display: block;
    top: 45px;
    position: absolute;
    left: 0;
    right: 0;
    background: #ddf0f9;
    border-bottom: 3px solid #2ea0cb;
    z-index: -1;
    white-space: nowrap;
    padding: 0;
    overflow-x: auto;
  }
  /* line 231, ../_assets/sass/app/_app-global.scss */
  #navbar .navsection ul.navmenu > li.submenu .submenu-content .page-container {
    color: #333;
    height: 12.4375em;
    padding: 1.0625em;
    max-width: 90em;
    margin: auto;
    position: relative;
    overflow: hidden;
  }
  /* line 241, ../_assets/sass/app/_app-global.scss */
  #navbar .navsection ul.navmenu > li > a {
    color: #fff;
    font-size: 0.75em;
    line-height: 44px;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0 2.5em 0 0.625em;
    position: relative;
  }
}
/* =SideSlide ========================================================== */
/* line 257, ../_assets/sass/app/_app-global.scss */
#panelnav {
  display: none;
  width: 80%;
  max-width: 250px;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #535a63;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: auto;
  /* so background fills height, only really need the Y part. */
  /* @include translate3d(0,0,0); */
}
/* line 272, ../_assets/sass/app/_app-global.scss */
#panelnav > * {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 275, ../_assets/sass/app/_app-global.scss */
#panelnav ul.panelmenu {
  z-index: 1;
  width: 100%;
  margin: 0 0 1em;
  padding: 0;
  list-style-type: none;
}
/* line 281, ../_assets/sass/app/_app-global.scss */
#panelnav ul.panelmenu > li {
  z-index: 10001;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #656b74;
}
/* line 286, ../_assets/sass/app/_app-global.scss */
#panelnav ul.panelmenu > li:hover {
  border-bottom: 1px solid #3b3f44;
}
/* line 289, ../_assets/sass/app/_app-global.scss */
#panelnav ul.panelmenu > li a {
  z-index: 10001;
  display: block;
  margin: 0;
  padding: 0 1.25em;
  color: #fff;
  font-size: 0.6875em;
  line-height: 44px;
  text-transform: uppercase;
}
/* line 299, ../_assets/sass/app/_app-global.scss */
#panelnav ul.panelmenu > li:hover {
  background-color: #484e56;
}

/* =Logo / Brand ======================================================= */
/* line 308, ../_assets/sass/app/_app-global.scss */
#navbar .title-area > li.logo {
  padding-left: 0.9375em;
}
/* line 311, ../_assets/sass/app/_app-global.scss */
#navbar .title-area > li a.brand {
  padding: 0;
}

/* line 318, ../_assets/sass/app/_app-global.scss */
#navbar .title-area > li.logo a.brand, #panelnav .panelmenu > li.logo a.brand {
  line-height: 0;
}
/* line 320, ../_assets/sass/app/_app-global.scss */
#navbar .title-area > li.logo a.brand span, #panelnav .panelmenu > li.logo a.brand span {
  display: none;
}
/* line 323, ../_assets/sass/app/_app-global.scss */
#navbar .title-area > li.logo a.brand img, #panelnav .panelmenu > li.logo a.brand img {
  width: 50px;
  padding: 10px 0 9px;
  vertical-align: middle;
}

@media only screen and (min-width: 58.75em) {
  /* line 335, ../_assets/sass/app/_app-global.scss */
  #navbar .title-area > li.logo {
    padding-left: 1.5625em;
    padding-right: 1.5625em;
  }
}
/* =Articles =========================================================== */
/* line 342, ../_assets/sass/app/_app-global.scss */
article {
  position: relative;
}
/* line 344, ../_assets/sass/app/_app-global.scss */
article ul, article ol, article dl {
  margin-left: 2em;
}
/* line 347, ../_assets/sass/app/_app-global.scss */
article .article-title {
  line-height: 1.2;
  margin-top: 0;
}
/* line 352, ../_assets/sass/app/_app-global.scss */
article .article-info p {
  font-size: 0.75em;
  color: #666;
}
/* line 356, ../_assets/sass/app/_app-global.scss */
article .article-info a, article .article-info a:active, article .article-info a:visited {
  color: #666;
}
/* line 359, ../_assets/sass/app/_app-global.scss */
article .article-info a:hover {
  color: #999;
}
/* line 362, ../_assets/sass/app/_app-global.scss */
article .article-info .label.secondary {
  color: #666;
}
/* line 365, ../_assets/sass/app/_app-global.scss */
article .article-info a:hover .label.secondary {
  color: #6d793d;
  background-color: #ccff00;
}

/* =Single/Page ======================================================== */
/* line 374, ../_assets/sass/app/_app-global.scss */
article.fulltext .article-info {
  margin: 1.25em 0 0;
}

/* =Article Summary ==================================================== */
/* line 384, ../_assets/sass/app/_app-global.scss */
article.summary .article-title {
  font-size: 1.75em;
  margin: 0;
}
/* line 388, ../_assets/sass/app/_app-global.scss */
article.summary .article-image {
  margin-top: .35em;
}

/* =Archive ============================================================ */
/* line 394, ../_assets/sass/app/_app-global.scss */
ul.archive {
  font-size: inherit;
  list-style: none;
  margin: 0;
}
/* line 398, ../_assets/sass/app/_app-global.scss */
ul.archive li {
  padding-top: 1.15em;
  border-top: 1px dashed #f3f3f3;
}
/* line 401, ../_assets/sass/app/_app-global.scss */
ul.archive li:first-child {
  padding-top: 0;
  border-top: 0 none;
}

/* =Sidebar ============================================================ */
/* line 409, ../_assets/sass/app/_app-global.scss */
.sidebar.flex-col {
  display: none;
}

@media only screen and (min-width: 48em) {
  /* line 414, ../_assets/sass/app/_app-global.scss */
  .sidebar.flex-col {
    border-left: 1px solid #eaeaea;
    border-bottom: 1px solid #e0e0e0;
    background: #fff;
    -webkit-box-shadow: 2px 2px 6px -2px #dddddd inset;
    -moz-box-shadow: 2px 2px 6px -2px #dddddd inset;
    box-shadow: 2px 2px 6px -2px #dddddd inset;
  }
}
@media screen and (min-width: 48em) and (min-width: 58.125em) {
  /* line 423, ../_assets/sass/app/_app-global.scss */
  .sidebar.flex-col {
    display: table-cell;
    width: 21.6875em;
  }
  /* line 426, ../_assets/sass/app/_app-global.scss */
  .sidebar.flex-col .panel {
    margin-top: 0.9375em;
    margin-bottom: 0.9375em;
  }
}
@media only screen and (min-width: 90em) {
  /* line 434, ../_assets/sass/app/_app-global.scss */
  .sidebar.flex-col {
    display: table-cell;
    width: 25.4375em;
  }
}
@media only screen and (min-width: 48em) {
  /* line 441, ../_assets/sass/app/_app-global.scss */
  .sidebar-inset {
    padding: 1.25em 0.3125em 0.3125em;
  }
}
/* 347px for screen min 768-930px on .sidebar.flex-col above results in 306px; 407px for screen min 1440px results in 366px. */
/* line 447, ../_assets/sass/app/_app-global.scss */
.article-aside {
  margin-bottom: 1.875em;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
}
/* line 450, ../_assets/sass/app/_app-global.scss */
.article-aside article {
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
}

/* =Comments =========================================================== */
/* =Footer ============================================================= */
/* line 460, ../_assets/sass/app/_app-global.scss */
#footer {
  z-index: 5;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #777;
  padding: 0.9375em;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px #aaaaaa inset;
  -moz-box-shadow: 0px 1px 3px #aaaaaa inset;
  box-shadow: 0px 1px 3px #aaaaaa inset;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  /* to prevent flash in mobile w/.panel */
}
/* line 471, ../_assets/sass/app/_app-global.scss */
#footer p, #footer ul {
  margin-bottom: 0;
  font-size: 0.75em;
}
/* line 476, ../_assets/sass/app/_app-global.scss */
#footer .footer-meta {
  text-align: center;
}
/* line 480, ../_assets/sass/app/_app-global.scss */
#footer .footer-links {
  text-align: center;
  margin-top: 1em;
}
/* line 483, ../_assets/sass/app/_app-global.scss */
#footer .footer-links li {
  display: inline-block;
  margin-left: 1em;
}
/* line 486, ../_assets/sass/app/_app-global.scss */
#footer .footer-links li:first-child {
  margin-left: 0;
}

@media only screen and (min-width: 48em) {
  /* line 494, ../_assets/sass/app/_app-global.scss */
  #footer {
    padding: 1.875em;
  }
  /* line 496, ../_assets/sass/app/_app-global.scss */
  #footer .footer-meta {
    text-align: left;
  }
  /* line 499, ../_assets/sass/app/_app-global.scss */
  #footer .footer-links {
    float: right;
    margin-top: 0;
  }
  /* line 502, ../_assets/sass/app/_app-global.scss */
  #footer .footer-links li {
    float: left;
  }
}
