/* line 220, ../bower_components/foundation/scss/foundation/components/_global.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 225, ../bower_components/foundation/scss/foundation/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 228, ../bower_components/foundation/scss/foundation/components/_global.scss */
body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
}

/* line 241, ../bower_components/foundation/scss/foundation/components/_global.scss */
a:focus {
  outline: none;
}

/* line 246, ../bower_components/foundation/scss/foundation/components/_global.scss */
img,
object,
embed {
  max-width: 100%;
  height: auto;
}

/* line 249, ../bower_components/foundation/scss/foundation/components/_global.scss */
object,
embed {
  height: 100%;
}

/* line 250, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 256, ../bower_components/foundation/scss/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 261, ../bower_components/foundation/scss/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 262, ../bower_components/foundation/scss/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 263, ../bower_components/foundation/scss/foundation/components/_global.scss */
.text-left {
  text-align: left !important;
}

/* line 264, ../bower_components/foundation/scss/foundation/components/_global.scss */
.text-right {
  text-align: right !important;
}

/* line 265, ../bower_components/foundation/scss/foundation/components/_global.scss */
.text-center {
  text-align: center !important;
}

/* line 266, ../bower_components/foundation/scss/foundation/components/_global.scss */
.text-justify {
  text-align: justify !important;
}

/* line 267, ../bower_components/foundation/scss/foundation/components/_global.scss */
.hide {
  display: none;
}

/* line 273, ../bower_components/foundation/scss/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
}

/* line 276, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 286, ../bower_components/foundation/scss/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 289, ../bower_components/foundation/scss/foundation/components/_global.scss */
select {
  width: 100%;
}

/* =Theme SCSS Syntax ================================================== */
/* line 2, ../_assets/sass/app/_app-global.scss */
html, body {
  height: 100%;
}

/* =Typography ========================================================= */
/* line 7, ../_assets/sass/app/_app-global.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* =Containers ========================================================= */
/* line 13, ../_assets/sass/app/_app-global.scss */
html #peek, body #peek {
  min-height: 100%;
}

/* line 17, ../_assets/sass/app/_app-global.scss */
#peek {
  background: #f6f5f2;
  z-index: 2;
  position: relative;
}

/* line 23, ../_assets/sass/app/_app-global.scss */
#scrollable {
  padding: 2.75em 0 6.25em;
  z-index: 5;
}

/*
#container {
  @include translateZ(0);
}

#container.row {
}
*/
/* line 43, ../_assets/sass/app/_app-global.scss */
#main {
  background-color: #fff;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 48, ../_assets/sass/app/_app-global.scss */
#primary {
  padding-top: 1em;
  padding-bottom: 1em;
}

@media only screen and (min-width: 90em) {
  /* line 54, ../_assets/sass/app/_app-global.scss */
  #main {
    border: 1px solid #e3e3e3;
  }
}
@media only screen and (min-width: 48em) {
  /* line 60, ../_assets/sass/app/_app-global.scss */
  #main {
    margin: 0 auto;
    max-width: 90em;
  }

  /* line 64, ../_assets/sass/app/_app-global.scss */
  .flex-row {
    display: table;
    table-layout: fixed;
    width: 100%;
    /* required! */
  }

  /* line 70, ../_assets/sass/app/_app-global.scss */
  .flex-col {
    float: none !important;
    display: table-cell;
    position: relative;
    vertical-align: top;
  }
}
/* =Top Bar ============================================================ */
/* line 79, ../_assets/sass/app/_app-global.scss */
#sticky {
  z-index: 99;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 88, ../_assets/sass/app/_app-global.scss */
.navwrap {
  background-color: #50b7dc;
}

/* line 92, ../_assets/sass/app/_app-global.scss */
#navbar {
  margin: auto;
  padding: 0;
  line-height: 44px;
  height: 44px;
  min-height: 44px;
  background-color: #2aa4cf;
  overflow: hidden;
}
/* line 102, ../_assets/sass/app/_app-global.scss */
#navbar > ul, #navbar section > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: auto;
  height: auto;
  display: inline;
}
/* line 109, ../_assets/sass/app/_app-global.scss */
#navbar > ul > li, #navbar section > ul > li {
  float: left;
  margin: 0;
  padding: 0;
  -webkit-transition: background-color 0.1s ease;
  -moz-transition: background-color 0.1s ease;
  transition: background-color 0.1s ease;
}
/* line 114, ../_assets/sass/app/_app-global.scss */
#navbar > ul > li > a, #navbar section > ul > li > a {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  line-height: 44px;
}
/* line 125, ../_assets/sass/app/_app-global.scss */
#navbar ul.right li {
  left: auto;
  right: 0;
}
/* line 132, ../_assets/sass/app/_app-global.scss */
#navbar ul.title-area li.menu-icon {
  padding: 10px;
  background-color: #2693ba;
}
/* line 135, ../_assets/sass/app/_app-global.scss */
#navbar ul.title-area li.menu-icon a {
  padding: 12px;
  background-image: url(/img/menu-icon.svg);
}
/* line 142, ../_assets/sass/app/_app-global.scss */
#navbar .navsection {
  -webkit-transition: left 300ms ease-out;
  -moz-transition: left 300ms ease-out;
  transition: left 300ms ease-out;
}
/* line 148, ../_assets/sass/app/_app-global.scss */
#navbar .navsection > ul.navmenu {
  display: none;
}
/* line 152, ../_assets/sass/app/_app-global.scss */
#navbar .navsection > ul.usermenu li {
  border-left: solid 1px #248cb1;
}
/* line 154, ../_assets/sass/app/_app-global.scss */
#navbar .navsection > ul.usermenu li:hover a {
  color: #ccff00;
}
/* line 157, ../_assets/sass/app/_app-global.scss */
#navbar .navsection > ul.usermenu li i {
  font-size: 1.1em;
  width: 2em;
}
/* line 161, ../_assets/sass/app/_app-global.scss */
#navbar .navsection > ul.usermenu li.search i, #navbar .navsection > ul.usermenu li.feed i {
  width: 2.5em;
}
/* line 166, ../_assets/sass/app/_app-global.scss */
#navbar .navsection > ul > li {
  color: #fff;
}
/* line 168, ../_assets/sass/app/_app-global.scss */
#navbar .navsection > ul > li:hover {
  background-color: #48b4da;
}
/* line 170, ../_assets/sass/app/_app-global.scss */
#navbar .navsection > ul > li:hover > a {
  color: #ccff00;
}
/* line 174, ../_assets/sass/app/_app-global.scss */
#navbar .navsection > ul > li > a {
  color: #fff;
}

@media only screen and (min-width: 58.75em) {
  /* line 184, ../_assets/sass/app/_app-global.scss */
  .navwrap {
    border-bottom: 1px solid #2693ba;
    -webkit-box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.3);
  }

  /* line 189, ../_assets/sass/app/_app-global.scss */
  #navbar {
    max-width: 90em;
    overflow: visible;
  }
  /* line 194, ../_assets/sass/app/_app-global.scss */
  #navbar .title-area .menu-icon {
    display: none;
  }
  /* line 201, ../_assets/sass/app/_app-global.scss */
  #navbar .navsection > ul.navmenu {
    display: inline;
  }
  /* line 205, ../_assets/sass/app/_app-global.scss */
  #navbar .navsection > ul.navmenu > li.submenu.active, #navbar .navsection > ul.navmenu > li.submenu.locked {
    border-bottom: 4px solid #ddf0f9;
    background: #ddf0f9;
  }
  /* line 209, ../_assets/sass/app/_app-global.scss */
  #navbar .navsection > ul.navmenu > li.submenu > a {
    padding-right: 3em;
  }
  /* line 212, ../_assets/sass/app/_app-global.scss */
  #navbar .navsection > ul.navmenu > li.submenu.active > a, #navbar .navsection > ul.navmenu > li.submenu.locked > a {
    color: #00a4e2;
  }
  /* line 215, ../_assets/sass/app/_app-global.scss */
  #navbar .navsection > ul.navmenu > li.submenu > a:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 5px;
    border-color: #fff transparent transparent transparent;
    margin-right: 1.25em;
    margin-top: -0.15625em;
    position: absolute;
    top: 50%;
    right: 0;
  }
  /* line 228, ../_assets/sass/app/_app-global.scss */
  #navbar .navsection > ul.navmenu > li.submenu.active > a:after, #navbar .navsection > ul.navmenu > li.submenu.locked > a:after {
    border-top-color: #00a4e2;
  }
  /* line 231, ../_assets/sass/app/_app-global.scss */
  #navbar .navsection > ul.navmenu > li.submenu .submenu-content {
    display: none;
  }
  /* line 234, ../_assets/sass/app/_app-global.scss */
  #navbar .navsection > ul.navmenu > li.submenu.active .submenu-content, #navbar .navsection > ul.navmenu > li.submenu.locked .submenu-content, #navbar .navsection > ul.navmenu > li.submenu:focus .submenu-content {
    display: block;
    top: 45px;
    position: absolute;
    left: 0;
    right: 0;
    background: #ddf0f9;
    border-bottom: 4px solid #2ea0cb;
    z-index: -1;
    white-space: nowrap;
    padding: 0;
    overflow-x: auto;
  }
  /* line 247, ../_assets/sass/app/_app-global.scss */
  #navbar .navsection > ul.navmenu > li.submenu .submenu-content .page-container {
    color: #333;
    height: 14.5em;
    padding: 1em;
    max-width: 90em;
    margin: auto;
    position: relative;
    overflow: hidden;
  }
  /* line 256, ../_assets/sass/app/_app-global.scss */
  #navbar .navsection > ul.navmenu > li.submenu .submenu-content .page-container .submenu-posts > li {
    white-space: normal;
    width: 15.12%;
  }
  /* line 259, ../_assets/sass/app/_app-global.scss */
  #navbar .navsection > ul.navmenu > li.submenu .submenu-content .page-container .submenu-posts > li img {
    margin-bottom: .5em;
  }
  /* line 262, ../_assets/sass/app/_app-global.scss */
  #navbar .navsection > ul.navmenu > li.submenu .submenu-content .page-container .submenu-posts > li .title {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875em;
    color: #333;
  }
  /* line 266, ../_assets/sass/app/_app-global.scss */
  #navbar .navsection > ul.navmenu > li.submenu .submenu-content .page-container .submenu-posts > li .title:hover {
    color: #555;
  }
  /* line 272, ../_assets/sass/app/_app-global.scss */
  #navbar .navsection > ul.navmenu > li.submenu .submenu-content .page-container .submenu-categories {
    list-style: none;
    margin: 0;
    padding: 0.5em 0;
    background: #c7e6f5;
  }
  /* line 277, ../_assets/sass/app/_app-global.scss */
  #navbar .navsection > ul.navmenu > li.submenu .submenu-content .page-container .submenu-categories li {
    padding: 0 1em;
    text-align: right;
  }
  /* line 280, ../_assets/sass/app/_app-global.scss */
  #navbar .navsection > ul.navmenu > li.submenu .submenu-content .page-container .submenu-categories li:hover {
    background-color: #ddf0f9;
  }
  /* line 284, ../_assets/sass/app/_app-global.scss */
  #navbar .navsection > ul.navmenu > li.submenu .submenu-content .page-container .submenu-categories a {
    font-size: 0.875em;
    font-weight: bold;
  }
  /* line 291, ../_assets/sass/app/_app-global.scss */
  #navbar .navsection > ul.navmenu > li > a {
    font-size: 0.75em;
    line-height: 44px;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0 1em;
    position: relative;
  }
}
/* =Nav Panel ========================================================== */
/* line 307, ../_assets/sass/app/_app-global.scss */
#navpanel {
  display: none;
  width: 80%;
  max-width: 250px;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #535a63;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: auto;
  /* so background fills height, only really need the Y part. */
  /* @include translate3d(0,0,0); */
}
/* line 322, ../_assets/sass/app/_app-global.scss */
#navpanel > * {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 325, ../_assets/sass/app/_app-global.scss */
#navpanel ul.navmenu {
  z-index: 1;
  width: 100%;
  margin: 0 0 1em;
  padding: 0;
  list-style-type: none;
}
/* line 331, ../_assets/sass/app/_app-global.scss */
#navpanel ul.navmenu > li {
  z-index: 10001;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #656b74;
}
/* line 336, ../_assets/sass/app/_app-global.scss */
#navpanel ul.navmenu > li:hover {
  border-bottom: 1px solid #3b3f44;
}
/* line 339, ../_assets/sass/app/_app-global.scss */
#navpanel ul.navmenu > li.active a {
  color: #ccc;
}
/* line 342, ../_assets/sass/app/_app-global.scss */
#navpanel ul.navmenu > li a {
  z-index: 10001;
  display: block;
  margin: 0;
  padding: 0 1.25em;
  color: #fff;
  font-size: 0.9375em;
  line-height: 44px;
  text-transform: uppercase;
}
/* line 352, ../_assets/sass/app/_app-global.scss */
#navpanel ul.navmenu > li:hover {
  background-color: #484e56;
}
/* line 355, ../_assets/sass/app/_app-global.scss */
#navpanel ul.navmenu > li i {
  margin-right: 0.5em;
}

/* =Logo / Brand ======================================================= */
/* line 364, ../_assets/sass/app/_app-global.scss */
#navbar .title-area > li.logo {
  padding-left: 0.9375em;
}
/* line 367, ../_assets/sass/app/_app-global.scss */
#navbar .title-area > li a.brand {
  padding: 0;
}

/* line 374, ../_assets/sass/app/_app-global.scss */
#navbar .title-area > li.logo a.brand, #navpanel .navmenu > li.logo a.brand {
  line-height: 0;
}
/* line 376, ../_assets/sass/app/_app-global.scss */
#navbar .title-area > li.logo a.brand span, #navpanel .navmenu > li.logo a.brand span {
  display: none;
}
/* line 379, ../_assets/sass/app/_app-global.scss */
#navbar .title-area > li.logo a.brand img, #navpanel .navmenu > li.logo a.brand img {
  width: 50px;
  padding: 10px 0 9px;
  vertical-align: middle;
}

@media only screen and (min-width: 58.75em) {
  /* line 391, ../_assets/sass/app/_app-global.scss */
  #navbar .title-area > li.logo {
    padding-left: 1.5625em;
    padding-right: 1.5625em;
  }
}
/* =Article ============================================================ */
/* line 398, ../_assets/sass/app/_app-global.scss */
article {
  position: relative;
}
/* line 400, ../_assets/sass/app/_app-global.scss */
article ul, article ol, article dl {
  margin-left: 2em;
}
/* line 403, ../_assets/sass/app/_app-global.scss */
article .article-title {
  line-height: 1.2;
  margin-top: 0;
}
/* line 407, ../_assets/sass/app/_app-global.scss */
article .article-meta {
  font-size: 0.8125em;
  color: #888;
}
/* line 410, ../_assets/sass/app/_app-global.scss */
article .article-meta a, article .article-meta a:active, article .article-meta a:visited {
  color: #888;
}
/* line 413, ../_assets/sass/app/_app-global.scss */
article .article-meta a:hover {
  color: #ccc;
}
/* line 418, ../_assets/sass/app/_app-global.scss */
article .article-feature img {
  vertical-align: middle;
}
/* line 422, ../_assets/sass/app/_app-global.scss */
article .article-content {
  color: #555;
}

/* =Single/Page Article ================================================ */
/* line 429, ../_assets/sass/app/_app-global.scss */
article.fulltext .article-feature {
  max-width: 56.875em;
  margin: 0 auto 3em;
}
/* line 434, ../_assets/sass/app/_app-global.scss */
article.fulltext .article-meta {
  margin-bottom: 1.25em;
}

/* line 442, ../_assets/sass/app/_app-global.scss */
.article-content .connect {
  color: #999;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 447, ../_assets/sass/app/_app-global.scss */
.article-content .connect li {
  margin-bottom: 1em;
  padding: 0 1.25em;
}
/* line 450, ../_assets/sass/app/_app-global.scss */
.article-content .connect li:first-child {
  background-color: #e3e3e3;
}
/* line 452, ../_assets/sass/app/_app-global.scss */
.article-content .connect li:first-child h3 {
  text-align: center;
  margin: 0;
  padding: 0.15em 0;
  color: #999;
  font-size: 1.125em;
}
/* line 463, ../_assets/sass/app/_app-global.scss */
.article-content .connect a {
  color: #999;
}
/* line 465, ../_assets/sass/app/_app-global.scss */
.article-content .connect a:hover {
  color: #666;
}
/* line 469, ../_assets/sass/app/_app-global.scss */
.article-content .connect [class^="icon-"], .article-content .connect [class*=" icon-"] {
  font-size: 1.15em;
}

/* =Aside Article ====================================================== */
/* line 475, ../_assets/sass/app/_app-global.scss */
article.aside {
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
}
/* line 479, ../_assets/sass/app/_app-global.scss */
article.aside .article-feature {
  margin: 0;
}
/* line 482, ../_assets/sass/app/_app-global.scss */
article.aside .article-header {
  padding: 0.75em 1em 1em;
}
/* line 484, ../_assets/sass/app/_app-global.scss */
article.aside .article-header .article-title {
  margin: 0;
}
/* line 486, ../_assets/sass/app/_app-global.scss */
article.aside .article-header .article-title a, article.aside .article-header .article-title a:active, article.aside .article-header .article-title a:visited {
  color: #333;
}
/* line 489, ../_assets/sass/app/_app-global.scss */
article.aside .article-header .article-title a:hover {
  color: #999;
}
/* line 494, ../_assets/sass/app/_app-global.scss */
article.aside .article-content {
  padding: 0 1em 1em;
}
/* line 496, ../_assets/sass/app/_app-global.scss */
article.aside .article-content p {
  margin: 0;
}
/* line 500, ../_assets/sass/app/_app-global.scss */
article.aside .article-category {
  font-size: 0.6875em;
  font-weight: bold;
  margin: 0 0 0.25em;
}
/* line 505, ../_assets/sass/app/_app-global.scss */
article.aside .article-date {
  padding: 0.25em 0.5em;
  border-left: 20px solid #f3f3f3;
}

@media only screen and (min-width: 48em) {
  /* line 512, ../_assets/sass/app/_app-global.scss */
  article.aside {
    -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
    -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
    box-shadow: 1px 1px 2px 0 #d0d0d0;
  }
  /* line 515, ../_assets/sass/app/_app-global.scss */
  article.aside .article-info p {
    font-size: 0.75em;
  }
}
/* =Item Index ========================================================= */
/* line 523, ../_assets/sass/app/_app-global.scss */
.item-index {
  list-style: none;
  margin-bottom: 0;
}
/* line 526, ../_assets/sass/app/_app-global.scss */
.item-index li {
  list-style-type: none;
  padding-bottom: 0.9375em;
}

/* line 532, ../_assets/sass/app/_app-global.scss */
.item-list {
  padding: 0.9375em;
}
/* line 538, ../_assets/sass/app/_app-global.scss */
.item-list li:last-child {
  padding-bottom: 0;
}

/* line 548, ../_assets/sass/app/_app-global.scss */
.item-muted {
  background: #f6f5f2;
}

@media only screen and (min-width: 48em) {
  /* line 555, ../_assets/sass/app/_app-global.scss */
  .item-index article .article-title {
    font-size: 1.375em;
  }
  /* line 558, ../_assets/sass/app/_app-global.scss */
  .item-index article .article-content p {
    font-size: 0.875em;
  }
}
/* =Ribbons ============================================================ */
/* line 566, ../_assets/sass/app/_app-global.scss */
.ribbon {
  font-size: 1em;
  color: #555;
  margin: 0;
  padding: 0.625em 1em;
  border-color: #e3e3e3;
  border-style: solid;
  border-width: 0 0 1px 0;
  background-color: #fff;
}
/* line 575, ../_assets/sass/app/_app-global.scss */
.ribbon.hot {
  color: #fff;
  border-color: #70b03e;
  background-color: #7fc04c;
}

/* =Related ====================================================== */
/* line 584, ../_assets/sass/app/_app-global.scss */
.related > .row {
  border-color: #e3e3e3;
  border-style: solid;
  border-width: 0 0 1px 0;
}
/* line 589, ../_assets/sass/app/_app-global.scss */
.related .item-hot {
  background: #fdfcfc;
}
/* line 592, ../_assets/sass/app/_app-global.scss */
.related .item-trend {
  background: #f3f3f3;
}
/* line 595, ../_assets/sass/app/_app-global.scss */
.related .ribbon {
  border-width: 1px 0;
}

@media only screen and (min-width: 48em) {
  /* line 601, ../_assets/sass/app/_app-global.scss */
  .related {
    /*
    .item-index {
      li {
        padding-bottom: $column-gutter;
      }
    }
    .item-list {
      padding: $column-gutter;
    }
    */
  }
  /* line 615, ../_assets/sass/app/_app-global.scss */
  .related .flex-col {
    border-right: 1px solid #ccc;
    -webkit-box-shadow: 3px 0 12px -7px rgba(0, 0, 0, 0.7) inset;
    -moz-box-shadow: 3px 0 12px -7px rgba(0, 0, 0, 0.7) inset;
    box-shadow: 3px 0 12px -7px rgba(0, 0, 0, 0.7) inset;
  }
  /* line 618, ../_assets/sass/app/_app-global.scss */
  .related .flex-col:last-child {
    border-right: 0 none;
  }
  /* line 621, ../_assets/sass/app/_app-global.scss */
  .related .flex-col .item-index {
    -webkit-box-shadow: 0 3px 12px -7px rgba(0, 0, 0, 0.7) inset;
    -moz-box-shadow: 0 3px 12px -7px rgba(0, 0, 0, 0.7) inset;
    box-shadow: 0 3px 12px -7px rgba(0, 0, 0, 0.7) inset;
  }
  /* line 624, ../_assets/sass/app/_app-global.scss */
  .related .flex-col .item-list {
    padding: 1.875em;
  }
  /* line 626, ../_assets/sass/app/_app-global.scss */
  .related .flex-col .item-list li {
    padding-bottom: 1.875em;
  }
  /* line 628, ../_assets/sass/app/_app-global.scss */
  .related .flex-col .item-list li:last-child {
    padding-bottom: 0;
  }
}
/* =Sidebar ============================================================ */
/* 347px for screen min 768-930px on .sidebar.flex-col above results in 306px; 407px for screen min 1440px results in 366px. */
/* line 639, ../_assets/sass/app/_app-global.scss */
.sidebar.flex-col {
  display: none;
}

@media only screen and (min-width: 48em) {
  /* line 644, ../_assets/sass/app/_app-global.scss */
  .sidebar.flex-col {
    display: table-cell;
    padding: 0;
    border-left: 1px solid #eaeaea;
    border-bottom: 1px solid #e0e0e0;
    background: #fff;
    -webkit-box-shadow: 2px 2px 6px -2px #dddddd inset;
    -moz-box-shadow: 2px 2px 6px -2px #dddddd inset;
    box-shadow: 2px 2px 6px -2px #dddddd inset;
  }
}
/* =Comments =========================================================== */
/* line 655, ../_assets/sass/app/_app-global.scss */
#comments {
  padding-top: 1em;
  border-top: 1px dashed #e3e3e3;
}
/* line 658, ../_assets/sass/app/_app-global.scss */
#comments #disqus_thread {
  margin-bottom: -1em;
}

/* =Footer ============================================================= */
/* line 664, ../_assets/sass/app/_app-global.scss */
#footer {
  z-index: 5;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #777;
  padding: 0.9375em;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px #aaaaaa inset;
  -moz-box-shadow: 0px 1px 3px #aaaaaa inset;
  box-shadow: 0px 1px 3px #aaaaaa inset;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  /* to prevent flash in mobile w/.panel */
}
/* line 675, ../_assets/sass/app/_app-global.scss */
#footer p, #footer ul {
  margin-bottom: 0;
  font-size: 0.75em;
}
/* line 679, ../_assets/sass/app/_app-global.scss */
#footer a {
  color: #777;
}
/* line 681, ../_assets/sass/app/_app-global.scss */
#footer a:hover {
  color: #999;
}
/* line 685, ../_assets/sass/app/_app-global.scss */
#footer .footer-meta {
  text-align: center;
}
/* line 688, ../_assets/sass/app/_app-global.scss */
#footer .footer-links {
  text-align: center;
  margin-top: 1em;
}
/* line 691, ../_assets/sass/app/_app-global.scss */
#footer .footer-links li {
  display: inline-block;
  margin-left: 1em;
}
/* line 694, ../_assets/sass/app/_app-global.scss */
#footer .footer-links li:first-child {
  margin-left: 0;
}

@media only screen and (min-width: 48em) {
  /* line 702, ../_assets/sass/app/_app-global.scss */
  #footer {
    padding: 1.875em;
  }
  /* line 704, ../_assets/sass/app/_app-global.scss */
  #footer .footer-meta {
    text-align: left;
  }
  /* line 707, ../_assets/sass/app/_app-global.scss */
  #footer .footer-links {
    float: right;
    margin-top: 0;
  }
  /* line 710, ../_assets/sass/app/_app-global.scss */
  #footer .footer-links li {
    float: left;
  }
}
