---
layout: nil
---

Options -Indexes
IndexIgnore *

ErrorDocument 404 {{ '/404.html' | to_baseurl }}
ErrorDocument 500 {{ '/500.html' | to_baseurl }}

# Webfonts for CDN, cross-domain policy
AddType application/vnd.ms-fontobject .eot
AddType font/truetype .ttf
AddType font/opentype .otf
AddType font/opentype .woff
AddType image/svg+xml .svg .svgz
AddEncoding gzip .svgz
<FilesMatch "\.(ttf|otf|eot|woff|svg)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
</FilesMatch>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase {{ '/' | to_baseurl }}

# CDN Virtual Versioned URLs
RewriteRule ^v[0-9]{6,6}/(.*)$ /$1 [L]

# remove www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,QSA,L]

# index.html to /
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*index\.html\ HTTP/
RewriteRule ^(.*)index\.html$ /$1 [R=301,QSA,L]
</IfModule>
