---
layout: nil
---

Options -Indexes
IndexIgnore *

ErrorDocument 404 {{ '/404.html' | to_baseurl }}
ErrorDocument 500 {{ '/500.html' | to_baseurl }}

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase {{ '/' | to_baseurl }}

# remove www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,QSA,L]

# index.php to /
# RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*index\.php\ HTTP/
# RewriteRule ^(.*)index\.php$ /$1 [R=301,QSA,L]
</IfModule>
