// Special for an a href tag to have a link around an object > svg, when
// used as an image. Otherwise links won't be clickable.
@mixin a-osvg {
  line-height: 0;
  position: relative;
  display: inline-block;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  object {
    height: auto;
  }
}

/* =Theme SCSS Syntax ================================================== */
html, body {
  height: 100%;
}

/* =Typography ========================================================= */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* =Containers ========================================================= */
html #peek, body #peek {
  min-height: 100%;
}

#peek {
  background: #f6f5f2;
  z-index: 2;
  position: relative;
}

#scrollable {
  // pad-bottom keeps content above footer need to
  // adjust padding-bottom if footer height changes.
  padding: emCalc(44px) 0 emCalc(200px);
  z-index: 5;
}

@media #{$small} {
  #scrollable {
    padding-bottom: emCalc(176px);
  }
}

/*
#container {
  @include translateZ(0);
}

#container.row {
}
*/

#main {
  background-color: #fff;
  @include translateZ(0);
}

#primary {
  padding-top: 1em;
  padding-bottom: 1em;
}

@media #{$large} {
  #main {
    border: 1px solid #e3e3e3;
  }
}

@media #{$small} {
  #main {
    margin: 0 auto;
    max-width: $row-width; }

  .flex-row {
    display: table;
    table-layout: fixed;
    width: 100%; /* required! */
  }

  .flex-col {
    float: none !important;
    display: table-cell;
    position: relative;
    vertical-align: top;
  }
}

/* =Top Bar ============================================================ */
#sticky {
  z-index: 99;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  @include translateZ(0); // to prevent flash in mobile upon expose
}

.navwrap {
  background-color: #50b7dc;
}

#navbar {
  margin: auto;
  padding: 0;
  line-height: 44px;
  height: 44px;
  min-height: 44px;
  background-color: #2aa4cf;
  //position: relative; # prevented submenu from going 100% width
  overflow: hidden;

  > ul, section > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
    height: auto;
    display: inline;
    > li {
      float: left;
      margin: 0;
      padding: 0;
      @include transition(background-color 0.1s ease);
      > a {
        display: block;
        margin: 0;
        padding: 0;
        text-decoration: none;
        line-height: 44px;
      } // > a
    }
  }

  ul.right {
    li {
      left: auto;
      right: 0;
    }
  }

  ul.title-area {
    li.menu-icon {
      line-height: 0;
      background-color: #2693ba;
      a {
        padding: 10px; // padding + svg/img = 44px total
        @include a-osvg;
        object {
          //max-width: 24px;
          //padding: 10px;
        }
      }
    } // .menu-icon
  } // .title-area

  .navsection {
    //left: 0;
    //position: relative; # prevented submenu from going 100% width
    //width: 100%;
    @include transition(left 300ms ease-out);
    > ul {
      &.navmenu {
        display: none;
      }
      &.usermenu {
        li {
          border-left: solid 1px #248cb1;
          &:hover a {
            color: #ccff00;
          }
          i {
            font-size: 1.1em;
            width: 2em;
          }
          &.search i, &.feed i {
            width: 2.5em;
          }
        }
      }
      > li {
        color: #fff;
        &:hover {
          background-color: #48b4da;
          > a {
            color: #ccff00;
          }
        }
        > a {
          color: #fff;
        }
      }
    } // ul.navmenu, ul.usermenu
  } // .navsection
} // #navbar

@media only screen and (min-width:emCalc(940px)) {

  .navwrap {
    border-bottom: 1px solid #2693ba;
    @include box-shadow(0px 2px 2px -1px rgba(0, 0, 0, 0.3));
  }

  #navbar {
    max-width: $row-width;
    overflow: visible;

    .title-area {
      .menu-icon {
        display: none;
      }
    }

    .navsection {
      > ul {
        &.navmenu {
          display: inline;
          > li {
            &.submenu {
              &.active, &.locked {
                border-bottom: 4px solid #ddf0f9;
                background: #ddf0f9;
              }
              > a {
                padding-right: emCalc(48px);
              }
              &.active > a, &.locked > a {
                color: #00a4e2;
              }
              > a:after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                border: solid 5px;
                border-color: #fff transparent transparent transparent;
                margin-right: emCalc(20px);
                margin-top: emCalc(-2.5px);
                position: absolute;
                top: 50%;
                right: 0;
              }
              &.active > a:after, &.locked > a:after {
                border-top-color: #00a4e2;
              }
              .submenu-content {
                display: none;
              }
              &.active .submenu-content, &.locked .submenu-content, &:focus .submenu-content {
                display: block;
                top: 45px;
                position: absolute;
                left: 0;
                right: 0;
                background: #ddf0f9;
                border-bottom: 4px solid #2ea0cb;
                z-index: -1;
                white-space: nowrap;
                padding: 0;
                overflow-x: auto;
              }
              .submenu-content .page-container {
                color: #333;
                height: emCalc(232px);
                padding: emCalc(16px);
                max-width: $row-width;
                margin: auto;
                position: relative;
                overflow: hidden;
                .submenu-posts {
                  > li {
                    white-space: normal;
                    width: 15.12%;
                    img {
                      margin-bottom: .5em;
                    }
                    .title {
                      font-family: 'Open Sans', sans-serif;
                      font-size: emCalc(14px);
                      color: #333;
                      &:hover {
                        color: #555;
                      }
                    }
                  }
                }
                .submenu-categories {
                  list-style: none;
                  margin: 0;
                  padding: 0.5em 0;
                  background: #c7e6f5;
                  li {
                    padding: 0 1em;
                    text-align: right;
                    &:hover {
                      background-color: #ddf0f9;
                    }
                  }
                  a {
                    font-size: emCalc(14px);
                    font-weight: bold;
                  }
                }
              }
            } // .submenu
            > a {
              font-size: emCalc(12px);
              line-height: 44px;
              text-transform: uppercase;
              white-space: nowrap;
              padding: 0 emCalc(16px);
              position: relative;
            }
          } // li
        } // &.navmenu
      } // ul
    } // .navsection
  } // #navbar
} // @media

/* =Nav Panel ========================================================== */
#navpanel {
  display: none;
  width: 80%;
  max-width: 250px; // emCalc(250px);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #535a63;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: auto;
  /* so background fills height, only really need the Y part. */
  /* @include translate3d(0,0,0); */
  > * {
    @include translateZ(0);
  }
  ul.navmenu {
    z-index: 1;
    width: 100%;
    margin: 0 0 1em;
    padding: 0;
    list-style-type: none;
    > li {
      z-index: 10001;
      margin: 0;
      padding: 0;
      height: 44px;
      min-height: 44px;
      border-bottom: 1px solid #656b74;
      &:hover {
        border-bottom: 1px solid #3b3f44;
      }
      &.active a {
        color: #ccc;
      }
      a {
        z-index: 10001;
        display: block;
        margin: 0;
        padding: 0 emCalc(20px);
        color: #fff;
        font-size: emCalc(15px);
        line-height: 44px;
        text-transform: uppercase;
      }
      &:hover {
        background-color: #484e56;
      }
      i {
        margin-right: 0.5em;
      }
    }
  }
}

/* =Logo / Brand ======================================================= */
#navbar .title-area > li {
  &.logo {
    padding-left: emCalc(15px);
  }
  a.brand {
    padding: 0;
  }
}

#navbar .title-area, #navpanel .navmenu {
  > li.logo {
    line-height: 0;
    a.brand {
      // padding + svg/img = 44px total
      padding-top: 9px;
      padding-bottom: 10px;
      span {
        display: none;
      }
      &:hover path {
        fill: #ccff00;
      }
      @include a-osvg;
    } // a.brand
  } // > li.logo
}

@media only screen and (min-width:emCalc(940px)) {
  #navbar .title-area > li.logo {
    padding-left: emCalc(25px);
    padding-right: emCalc(25px);
  }
}

/* =Article ============================================================ */
article {
  position: relative;
  ul, ol, dl {
    margin-left: 2em;
  }
  .article-title {
    line-height: 1.2;
    margin-top: 0;
  }
  .article-meta {
    font-size: emCalc(13px);
    color: #888;
    a, a:active, a:visited {
      color: #888;
    }
    a:hover {
      color: #ccc;
    }
  }
  .article-feature {
    img {
      vertical-align: middle;
    }
  }
  .article-content {
    color: #555;
  }
}

/* =Single/Page Article ================================================ */
article.fulltext {
  .article-feature {
    max-width: emCalc(910px);
    margin: 0 auto 3em;

  }
  .article-meta {
    margin-bottom: emCalc(20px);
  }
}

@media #{$small} {
}

.article-content .connect {
  color: #999;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 1em;
    padding: 0 1.25em;
    &:first-child {
      background-color: #e3e3e3;
      h3 {
        text-align: center;
        margin: 0;
        padding: 0.15em 0;
        color: #999;
        font-size: emCalc(18px);
      }
    }
    &:last-child {
    }
  }
  a {
    color: #999;
    &:hover {
      color: #666;
    }
  }
  [class^="icon-"], [class*=" icon-"] {
    font-size: 1.15em;
  }
}

/* =Aside Article ====================================================== */
article.aside {
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  .article-feature {
    margin: 0;
  }
  .article-header {
    padding: 0.75em 1em 1em;
    .article-title {
      margin: 0;
      a, a:active, a:visited {
        color: #333;
      }
      a:hover {
        color: #999;
      }
    }
  }
  .article-content {
    padding: 0 1em 1em;
    p {
      margin: 0;
    }
  }
  .article-category {
    font-size: emCalc(11px);
    font-weight: bold;
    margin: 0 0 0.25em;
  }
  .article-date {
    padding: 0.25em 0.5em;
    border-left: 20px solid #f3f3f3;
  }
}

@media #{$small} {
  article.aside {
    @include box-shadow(1px 1px 2px 0 #d0d0d0);
    .article-info {
      p {
        font-size: emCalc(12px);
      }
    }
  }
}

/* =Item Index ========================================================= */
.item-index {
  list-style: none;
  margin-bottom: 0;
  li {
    list-style-type: none;
    padding-bottom: $half-gutter;
  }
}

.item-list {
  padding: $half-gutter;
  &:last-child {
    //padding-bottom: 0;
  }
  li {
    &:last-child {
      padding-bottom: 0;
    }
  }
}

.item-grid {

}

.item-muted {
  background: #f6f5f2;
}

@media #{$small} {
  .item-index {
    article {
      .article-title {
        font-size: emCalc(22px);
      }
      .article-content p {
        font-size: emCalc(14px);
      }
    }
  }
}

/* =Ribbons ============================================================ */
.ribbon {
  font-size: 1em;
  color: #555;
  margin: 0;
  padding: emCalc(10px) emCalc(16px);
  border-color: #e3e3e3;
  border-style: solid;
  border-width: 0 0 1px 0; // puts border only on bottom
  background-color: #fff;
  &.hot {
    color: #fff;
    border-color: #70b03e;
    background-color: #7fc04c;
  }
}

/* =Related ====================================================== */
.related {
  > .row {
    border-color: #e3e3e3;
    border-style: solid;
    border-width: 0 0 1px 0; // puts border only on sides
  }
  .item-hot {
    background: #fdfcfc;
  }
  .item-trend {
    background: #f3f3f3;
  }
  .ribbon {
    border-width: 1px 0;
  }
}

@media #{$small} {
  .related {
    > .row {
      //border-width: 0;
    }
    /*
    .item-index {
      li {
        padding-bottom: $column-gutter;
      }
    }
    .item-list {
      padding: $column-gutter;
    }
    */
    .flex-col {
      border-right: 1px solid #ccc;
      @include box-shadow(3px 0 12px -7px rgba(0, 0, 0, 0.7) inset);
      &:last-child {
        border-right: 0 none;
      }
      .item-index {
        @include box-shadow(0 3px 12px -7px rgba(0, 0, 0, 0.7) inset);
      }
      .item-list {
        padding: $column-gutter;
        li {
          padding-bottom: $column-gutter;
          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}

/* =Sidebar ============================================================ */
/* 347px for screen min 768-930px on .sidebar.flex-col above results in 306px; 407px for screen min 1440px results in 366px. */
.sidebar.flex-col {
  display: none;
}

@media #{$small} {
  .sidebar.flex-col {
    display: table-cell;
    padding: 0;
    border-left: 1px solid #eaeaea;
    border-bottom: 1px solid #e0e0e0;
    background: #fff;
    @include box-shadow(2px 2px 6px -2px #ddd inset);
  }
}

/* =Comments =========================================================== */
#comments {
  padding-top: 1em;
  border-top: 1px dashed #e3e3e3;
  #disqus_thread {
    margin-bottom: -1em;
  }
}

/* =Footer ============================================================= */
.inline-justified {
  text-align: center;
  list-style: none;
  li {
    list-style-type: none;
    display: inline-block;
    margin-left: emCalc(22px);
    &:first-child {
      margin-left: 0;
    }
  }
}

.inline-stack {
  li {
    display: block;
    margin-left: 0;
  }
}

#footer {
  z-index: 5;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #777;
  padding: emCalc(15px);
  background: #fff;
  @include box-shadow(0px 1px 3px #aaa inset);
  @include translateZ(0); /* to prevent flash in mobile w/.panel */
  ul, p {
    font-size: emCalc(12px);
  }
  a {
    color: #999;
    &:hover {
      color: #ccc;
    }
  }
  .meta {
    list-style: none;
    margin: 0;
    li {
      list-style-type: none;
    }
    .logo {
      margin-bottom: 0.25em;
      a {
        @include a-osvg;
        object {
          width: 25px;
          height: 12.5px;
        }
      }
    }
    .copyright {
      margin-bottom: 1.25em;
    }
    .thanks {
      margin-bottom: 0;
    }
  }
}

@media #{$small} {
  #footer {
    padding: emCalc(30px);
    .links {
      text-align: right;
    }
  }
}
