/* =Theme SCSS Syntax ================================================== */
html, body {
  height: 100%;
}

/* =Typography ========================================================= */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* =Containers ========================================================= */
html #peek, body #peek {
  min-height: 100%;
}

#peek {
  background: #f6f5f2;
  z-index: 2;
  position: relative;
}

#scrollable {
  // pad-bottom keeps content above footer need to
  // adjust padding-bottom if footer height changes.
  padding: emCalc(44px) 0 emCalc(200px);
  z-index: 5;
}

@media #{$small} {
  #scrollable {
    padding-bottom: emCalc(176px);
  }
}

/*
#container {
  @include translateZ(0);
}

#container.row {
}
*/

#main {
  margin: 1em auto 0 auto;
  background-color: #fff;
  border-width: 1px 0;
  border-style: solid;
  border-color: #e3e3e3;
  @include translateZ(0);
}

@media #{$small} {
  #main {
    max-width: $row-width;
  }

  .flex-row {
    display: table;
    table-layout: fixed;
    width: 100%; /* required! */
  }

  .flex-col {
    float: none !important;
    display: table-cell;
    position: relative;
    vertical-align: top;
  }
}

@media only screen and (min-width: emCalc(1441px)) {
  #main {
    border-width: 1px;
  }
}

/* =Top Bar ============================================================ */
#sticky {
  z-index: 99;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  @include translateZ(0); // to prevent flash in mobile upon expose
}

.navwrap {
  background-color: #50b7dc;
}

#navbar {
  margin: auto;
  padding: 0;
  line-height: 44px;
  height: 44px;
  min-height: 44px;
  background-color: #2aa4cf;
  //position: relative; # prevented submenu from going 100% width
  overflow: hidden;

  > ul, section > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
    height: auto;
    display: inline;
    > li {
      float: left;
      margin: 0;
      padding: 0;
      @include transition(background-color 0.1s ease);
      > a {
        display: block;
        margin: 0;
        padding: 0;
        text-decoration: none;
        line-height: 44px;
      } // > a
    }
  }

  ul.right {
    li {
      left: auto;
      right: 0;
    }
  }

  ul.title-area {
    li.menu-icon {
      line-height: 0;
      background-color: #2693ba;
      a {
        padding: 10px; // padding height + svg/img height = exactly 44px
        @include a-osvg;
        object, svg {
          width: 24px;
          height: 24px;
        }
      }
    } // .menu-icon
  } // .title-area

  .navsection {
    //left: 0;
    //position: relative; # prevented submenu from going 100% width
    //width: 100%;
    @include transition(left 300ms ease-out);
    > ul {
      &.navmenu {
        display: none;
      }
      &.usermenu {
        li {
          border-left: solid 1px #248cb1;
          &:hover a {
            color: #ccff00;
          }
          i {
            font-size: 1.1em;
            width: 2em;
          }
          &.search i, &.feed i {
            width: 2.5em;
          }
        }
      }
      > li {
        color: #fff;
        &:hover {
          background-color: #48b4da;
          > a {
            color: #ccff00;
          }
        }
        > a {
          color: #fff;
        }
      }
    } // ul.navmenu, ul.usermenu
  } // .navsection
} // #navbar

@media #{$topbar-media-query} {

  .navwrap {
    border-bottom: 1px solid #2693ba;
    @include box-shadow(0px 2px 2px -1px rgba(0, 0, 0, 0.3));
  }

  #navbar {
    max-width: $row-width;
    overflow: visible;

    .title-area {
      .menu-icon {
        display: none;
      }
    }

    .navsection {
      > ul {
        &.navmenu {
          display: inline;
          > li {
            &.submenu {
              &.active, &.locked {
                border-bottom: 4px solid #ddf0f9;
                background: #ddf0f9;
              }
              > a {
                padding-right: emCalc(48px);
              }
              &.active > a, &.locked > a {
                color: #00a4e2;
              }
              > a:after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                border: solid 5px;
                border-color: #fff transparent transparent transparent;
                margin-right: emCalc(20px);
                margin-top: emCalc(-2.5px);
                position: absolute;
                top: 50%;
                right: 0;
              }
              &.active > a:after, &.locked > a:after {
                border-top-color: #00a4e2;
              }
              .submenu-content {
                display: none;
              }
              &.active .submenu-content, &.locked .submenu-content, &:focus .submenu-content {
                display: block;
                top: 45px;
                position: absolute;
                left: 0;
                right: 0;
                background: #ddf0f9;
                border-bottom: 4px solid #2ea0cb;
                z-index: -1;
                white-space: nowrap;
                padding: 0;
                overflow-x: auto;
              }
              .submenu-content .page-container {
                color: #333;
                height: emCalc(232px);
                padding: emCalc(16px);
                max-width: $row-width;
                margin: auto;
                position: relative;
                overflow: hidden;
                .submenu-posts {
                  > li {
                    white-space: normal;
                    width: 15.12%;
                    img {
                      margin-bottom: .5em;
                    }
                    .title {
                      font-family: 'Open Sans', sans-serif;
                      font-size: emCalc(14px);
                      color: #333;
                      &:hover {
                        color: #555;
                      }
                    }
                  }
                }
                .submenu-categories {
                  list-style: none;
                  margin: 0;
                  padding: 0.5em 0;
                  background: #c7e6f5;
                  li {
                    padding: 0 1em;
                    text-align: right;
                    &:hover {
                      background-color: #ddf0f9;
                    }
                  }
                  a {
                    font-size: emCalc(14px);
                    font-weight: bold;
                  }
                }
              }
            } // .submenu
            > a {
              font-size: emCalc(12px);
              line-height: 44px;
              text-transform: uppercase;
              white-space: nowrap;
              padding: 0 emCalc(16px);
              position: relative;
            }
          } // li
        } // &.navmenu
      } // ul
    } // .navsection
  } // #navbar
} // @media

/* =Nav Panel ========================================================== */
#navpanel {
  display: none;
  width: 80%;
  max-width: 250px; // emCalc(250px);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #535a63;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: auto;
  /* so background fills height, only really need the Y part. */
  /* @include translate3d(0,0,0); */
  > * {
    @include translateZ(0);
  }
  ul.navmenu {
    z-index: 1;
    width: 100%;
    margin: 0 0 1em;
    padding: 0;
    list-style-type: none;
    > li {
      z-index: 10001;
      margin: 0;
      padding: 0;
      height: 44px;
      min-height: 44px;
      border-bottom: 1px solid #656b74;
      &:hover {
        border-bottom: 1px solid #3b3f44;
      }
      &.active a {
        color: #ccc;
      }
      a {
        z-index: 10001;
        display: block;
        margin: 0;
        padding: 0 emCalc(20px);
        color: #fff;
        font-size: emCalc(15px);
        line-height: 44px;
        text-transform: uppercase;
      }
      &:hover {
        background-color: #484e56;
      }
      i {
        margin-right: 0.5em;
      }
    }
  }
}

/* =Logo / Brand ======================================================= */
#navbar .title-area > li {
  &.logo {
    padding-left: emCalc(15px);
  }
  a.brand {
    padding: 0;
  }
}

#navbar .title-area, #navpanel .navmenu {
  > li.logo {
    line-height: 0;
    a.brand {
      // padding height + svg/img height = exactly 44px
      padding-top: 9px;
      padding-bottom: 10px;
      span {
        display: none;
      }
      &:hover path {
        fill: #ccff00;
      }
      @include a-osvg;
      object, svg {
        width: 50px;
        height: 25px;
      }
    } // a.brand
  } // > li.logo
}

@media only screen and (min-width:emCalc(940px)) {
  #navbar .title-area > li.logo {
    padding-left: emCalc(25px);
    padding-right: emCalc(25px);
  }
}

/* =Ribbons ============================================================ */
$ribbon-height: 43px;

.ribbon {
  line-height: $ribbon-height;
  min-height: $ribbon-height;
}

h1, h2 {
  &.ribbon {
    font-family: arial, sans-serif;
    font-weight: bold;
  }
}

.section-ribbon {
  font-size: 1em;
  color: #555;
  margin: 0;
  padding: 0 emCalc(16px);
  border-color: #e3e3e3;
  border-style: solid;
  border-width: 0 0 1px; // puts border only on bottom
  background-color: #fff;

  &.hot {
    color: #fff;
    border-color: #70b03e;
    background-color: #7fc04c;
  }

  &.follow {
    font-size: emCalc(13px);
  }
}

.primary-ribbon {
  color: #8A8C8E;
  font-size: emCalc(20px);
  text-transform: capitalize;
  margin: 0;
  background-color: #fff;
}

.ribbon-wrap {
  margin-bottom:1.5em;

  .row {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #e3e3e3;
  }
}

.nubbin {

  &:before, &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
  }

  &:before {
    bottom: -16px;
    left: 21px;
    border-top-color: #d6d6d6;
    border-width: 16px;
  }

  &:after {
    bottom: -15px;
    left: 22px;
    border-top-color: #fff;
    border-width: 15px;
  }
}

/* =Article ============================================================ */
article {
  position: relative;

  ul, ol, dl {
    margin-left: 2em;
  }

  pre {
    margin-bottom: $paragraph-margin-bottom;
  }

  .article-title {
    line-height: 1.2;
    margin-top: 0;
  }

  .article-meta {
    font-size: emCalc(13px);
    color: #888;

    a, a:active, a:visited {
      color: #888;
    }

    a:hover {
      color: #ccc;
    }
  }

  .article-feature {

    img {
      vertical-align: middle;
    }
  }

  .article-content {
    color: #666;
  }
}

/* =Single/Page Article ================================================ */
article.fulltext {

  .article-feature {
    max-width: emCalc(910px);
    margin: 0 auto 3em;

  }

  .article-meta, .article-content {
    margin-bottom: $paragraph-margin-bottom;
  }

  .article-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

article.page {
  .article-content {

    h2:first-child {
      margin-top: 0;
    }
  }
}

/* =Aside Article ====================================================== */
article.aside {
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;

  .article-feature {
    margin: 0;
  }
  .article-header {
    padding: 0.75em 1em 1em;

    .article-title {
      margin: 0;

      a, a:active, a:visited {
        color: #333;
      }

      a:hover {
        color: #999;
      }
    }
  }
  .article-content {
    padding: 0 1em 1em;
    p {
      margin: 0;
    }
  }
  .article-category {
    font-size: emCalc(11px);
    font-weight: bold;
    margin: 0 0 0.25em;
  }
  .article-date {
    padding: 0.25em 0.5em;
    border-left: 20px solid #f3f3f3;
  }
}

@media #{$small} {
  article.aside {
    @include box-shadow(1px 1px 2px 0 #d0d0d0);

    .article-info {
      p {
        font-size: emCalc(12px);
      }
    }
  }
}

/* =Item Index ========================================================= */
.item-index {
  list-style: none;
  margin-bottom: 0;

  li {
    // needed to make box fill width when not a lot of content
    // also on firefox so images scale down otherwise they go too wide
    // but adding width here, the desktop layout, width is overriden.
    // so for now hacking img to 100% width instead.
    // width: 100%;
    list-style-type: none;
    padding-bottom: $half-gutter;

    img {
      width: 100%; // temp fix for above issue
    }
  }
}

.item-list {
  padding: $half-gutter;

  &:last-child {
    //padding-bottom: 0;
  }

  li {
    &:last-child {
      padding-bottom: 0;
    }
  }
}

.item-grid {

}

.item-muted {
  background: #f6f5f2;
}

.item-ad {
  text-align: center;
  line-height: 1;
}

@media #{$small} {
  .item-index {

    article {
      .article-title {
        font-size: emCalc(22px);
      }

      .article-content p {
        font-size: emCalc(14px);
      }
    }
  }
}

/* =Related ====================================================== */
.related {
  > .row {
    border-color: #e3e3e3;
    border-style: solid;
    border-width: 0 0 1px 0; // puts border only on sides
  }

  .item-hot {
    background: #fdfcfc;
  }

  .item-trend {
    background: #f3f3f3;
  }

  .ribbon {
    border-width: 1px 0;
  }
}

@media #{$small} {
  .related {

    > .row {
      //border-width: 0;
    }

    /*
    .item-index {
      li {
        padding-bottom: $column-gutter;
      }
    }
    .item-list {
      padding: $column-gutter;
    }
    */

    .flex-col {
      border-right: 1px solid #ccc;
      @include box-shadow(3px 0 12px -7px rgba(0, 0, 0, 0.7) inset);

      &:last-child {
        border-right: 0 none;
      }

      .item-index {
        @include box-shadow(0 3px 12px -7px rgba(0, 0, 0, 0.7) inset);
      }

      .item-list {
        padding: $column-gutter;

        li {
          padding-bottom: $column-gutter;

          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}

/* =Sidebar ============================================================ */
/* 347px for screen min 768-930px on .sidebar.flex-col above results in 306px; 407px for screen min 1440px results in 366px. */
.sidebar.flex-col {
  display: none;
}

@media #{$small} {
  .sidebar.flex-col {
    display: table-cell;
    padding: 0;
    border-left: 1px solid #eaeaea;
    border-bottom: 1px solid #e0e0e0;
    background: #fff;
    @include box-shadow(2px 2px 6px -2px #ddd inset);
  }
}

/* =Comments =========================================================== */
#comments {
  margin-bottom: $paragraph-margin-bottom;
  padding-top: 1em;
  border-top: 1px dashed #e3e3e3;

  #disqus_thread {
    // margin-bottom: -1em;
  }
}

/* =Home =============================================================== */
.home #main {
  margin-top: 0;
  border-top: 0 none;
}

.home-body {
  #home-masthead {
    > .row {
      position: relative;
      color: #fff;
      text-align: center;
      text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
      padding-top: 2em;
      padding-bottom: 2em;

      background: #039; // Old browsers

      // #222, #777 grays
      @include background-image(linear-gradient(45deg, #039 0%, #c30 100%));

      overflow: hidden;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url("{{ '/media/pages/max-pattern.png' | to_cdnurl }}") repeat center center;
        opacity: .4;
      }

      > .columns {
        z-index: 2;
        position: relative;
      }
    }
  }

  #home-info {
    h1, h2 {
      color: #fff;
      font-family: inherit;
      margin: 0;
      line-height: 1;
    }

    h1 {
      font-weight: bold;
      letter-spacing: -1px;
      margin-bottom: .2em;
    }

    h2 {
      margin-bottom: .5em;
    }

    ul {
      color: rgba(255, 255, 255, .5);
      font-size: emCalc(14px);
      margin-bottom: 0;

      a {
        color: rgba(255, 255, 255, .5);
        @include transition(all .2s ease-in-out);

        &:hover {
          color: #fff;
        }
      }

      li:last-child {
        opacity: .5;
      }
    }
  }

  #home-media {
    margin-top: 1.5em;

    img {
      border: 4px solid #fff;
    }
  }

  #home-connect {
    > .row {
      margin-bottom: 2em;
      border-bottom: 1px solid #e3e3e3;
      background: #f3f3f3;

      > .columns {
        padding-top: 1.5em;
        padding-bottom: 1em;
      }
    }

    ul {
      margin-bottom: 0;
    }
  }
}

@media #{$small} {

  .home-body {
    #home-masthead {
      > .row {
        padding-top: 4em;
        padding-bottom: 4em;
      }
    }

    #home-info {
      text-align: right;

      hgroup {
        text-align: center;

        h1, h2 {
          display: inline-block;
        }

        h1 {
          font-size: 4em;
          letter-spacing: -2px;
        }
      }
    }

    #home-media {
      text-align: left;
      margin-top: 0;

      img {
        @include box-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
      }
    }
  }
}

@media #{$medium} {

  .home-body {
    #home-masthead {
      #home-info {
        padding-top: 3.5em;
      }
    }
  }
}

/* =Contact ============================================================ */
.contact-connect-title {
  text-align: center;
  padding: 0.5em 0;
  color: #999;
  font-size: emCalc(18px);
  background-color: #e3e3e3;
}

.contact-connect {
  color: #999;
  a {
    color: #999;

    &:hover {
      color: #666;
    }
  }

  [class^="icon-"], [class*=" icon-"] {
    font-size: 1.15em;
  }
}

.contact-connect {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/* =Footer ============================================================= */
#footer {
  z-index: 5;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #777;
  padding: emCalc(15px);
  background: #fff;
  @include box-shadow(0px 1px 3px #aaa inset);
  @include translateZ(0); /* to prevent flash in mobile w/.panel */

  ul, p {
    font-size: emCalc(12px);
  }

  a {
    color: #999;
    &:hover {
      color: #ccc;
    }
  }

  .meta {
    list-style: none;
    margin: 0;
    li {
      list-style-type: none;
    }
  }

  .logo {
    margin-bottom: 0.25em;
    a {
      @include a-osvg;
      object, svg {
        width: 25px;
        height: 12.5px;
      }
    }
  }

  .copyright {
    margin-bottom: 1.25em;
  }

  .thanks {
    margin-bottom: 0;
  }
}

@media #{$small} {

  #footer {
    padding: emCalc(30px);
    .links {
      text-align: right;
    }
  }
}

/* =Extras ============================================================= */
hr.fade {
  height: 1px;
  border: 0;
  @include background-image(linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0)));
}

h2.fancy {
  color: #666;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 5px rgba(0,0,0,.075);
}

.inline-justified {
  text-align: center;
  list-style: none;
  margin-left: 0;
  li {
    list-style-type: none;
    display: inline-block;
    margin-left: emCalc(22px);

    &:first-child {
      margin-left: 0;
    }
  }
}

.inline-stack {
  li {
    display: block;
    margin-left: 0;
  }
}
