<footer id="footer" role="contentinfo">
  <div class="row">
    <div class="large-5 columns">

      <p class="footer-meta">&copy; {{ site.constants.name }}. {{ site.constants.tagline }}.</p>

    </div><!-- .columns -->
    <div class="large-7 columns">

      <ul class="footer-links">
        <li><a href="{{ '/blog/' | to_baseurl }}">Blog</a></li>
        <li><a href="{{ '/portfolio/' | to_baseurl }}">Portfolio</a></li>
        <li><a href="{{ '/resume/' | to_baseurl }}">Résumé</a></li>
        <li><a href="{{ '/contact/' | to_baseurl }}">Contact</a></li>
        <li><a href="{{ '/search/' | to_baseurl }}">Search</a></li>
      </ul>

    </div><!-- .columns -->
  </div><!-- .row -->
</footer><!-- #footer -->
