        <div id="footer" class="row">
          <div class="large-5 columns">

            <p>&copy; {{ site.constants.name }}. {{ site.constants.tagline }}.</p>

          </div><!-- .columns -->
          <div class="large-7 columns">
            <ul class="inline-list right">
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
              <li><a href="#">Link 4</a></li>
            </ul>
          </div><!-- .columns -->
        </div><!-- #footer.row -->