<nav id="panelnav">
  <ul class="panelmenu">
    <li class="logo">
      <a class="brand" href="{{ '/' | to_baseurl }}">
        <span>{{ site.constants.name }}</span>
        <img src="{{ '/img/logo-light.svg' | to_baseurl }}" alt="{{ site.constants.name }}" />
      </a>
    </li>

    {% for i in site.constants.panelnav %}

      {% assign slug = page.url | remove: '/' | remove: 'index.html' %}

      {% assign css = nil %}
      {% if forloop.first %}
        {% capture css %}{{ css | append: 'first,' }}{% endcapture %}
      {% elsif forloop.last %}
        {% capture css %}{{ css | append: 'last,' }}{% endcapture %}
      {% endif %}
      {% if slug == i[0] %}
        {% capture css %}{{ css | append: 'current,' }}{% endcapture %}
      {% endif %}

      <li{% if css %} class="{{ css | split: ',' | join: ' ' }}"{% endif %}>
        <a href="{{ i[0] | prepend: '/' | append: '/' | to_baseurl }}">{{ i[1] }}</a>
      </li>
    {% endfor %}
  </ul>
</nav><!-- #panelnav -->
