<div id="sticky">
  <div class="navwrap">

    <nav id="navbar">

      <!-- Title / Menu Section -->
      <ul class="title-area">
        <li class="toggle-menu menu-icon">
          <a href="#">
            <object type="image/svg+xml" data="{{ '/media/app/menu-icon.svg' | to_cdnurl }}">Menu</object>
          </a>
        </li>

        <li class="logo">
          <a class="brand" href="{{ '/' | to_baseurl }}">
            <span>{{ site.app.name }}</span>
            <object type="image/svg+xml" data="{{ '/media/app/logo-light.svg' | to_cdnurl }}">{{ site.app.name }}</object>
          </a>
        </li> <!-- .logo -->
      </ul> <!-- .title-area -->

      <section class="navsection">
        <ul class="left navmenu">
          <!--
          <li class="submenu">
            <a href="{{ '/articles/' | to_baseurl }}">Articles</a>

            <div class="submenu-content">
              <div class="page-container">
                <ul class="inline-list submenu-posts">
                  <li>
                    <ul class="submenu-categories">
                      <li><a href="{{ '/articles/' | to_baseurl }}">All Articles</a></li>
                      <li><a href="{{ '/news/' | to_baseurl }}">Industry News</a></li>
                      <li><a href="{{ '/web-development/' | to_baseurl }}">Web Development</a></li>
                      <li><a href="{{ '/internet-marketing/' | to_baseurl }}">Internet Marketing</a></li>
                      <li><a href="{{ '/workflow/' | to_baseurl }}">Workflow</a></li>
                      <li><a href="{{ '/lifestyle/' | to_baseurl }}">Lifestyle</a></li>
                      <li><a href="{{ '/business/' | to_baseurl }}">Business</a></li>
                    </ul>
                  </li>
                  {% if site.posts != empty %}
                    {% for page in site.posts limit: 5 %}
                    <li>
                      {% if page.feature.image.src %}
                        <a href="{{ page.url | to_baseurl }}"><img src="{{ page.feature.image.src | to_cdnurl }}" alt="{{ page.title | escape_once }}" /></a>
                      {% endif %}
                      <a class="title" href="{{ page.url | to_baseurl }}">{{ page.title }}</a>
                    </li>
                    {% endfor %}
                  {% endif %}
                </ul>
              </div>
            </div>
          </li>
          -->
          <li><a href="{{ '/portfolio/' | to_baseurl }}">Portfolio</a></li>
          <li><a href="{{ '/resume/' | to_baseurl }}">Résumé</a></li>
          <li><a href="{{ '/contact/' | to_baseurl }}">Contact</a></li>
        </ul> <!-- .navmenu -->

        <ul class="right usermenu">
          <li class="search"><a href="{{ '/search/' | to_baseurl }}"><i class="icon-search"></i></a></li>
          <li class="connect"><a href="{{ '/contact/' | to_baseurl }}"><i class="icon-facebook"></i><i class="icon-twitter"></i><i class="icon-google-plus"></i></a></li>
          <li class="feed"><a href="{{ '/feed/' | to_baseurl }}"><i class="icon-rss"></i></a></li>
        </ul> <!-- .usermenu -->
      </section><!-- .navsection -->

    </nav><!-- #navbar -->

  </div> <!-- .navwrap -->
</div><!-- #sticky -->
