<nav id="navpanel">
  <ul class="navmenu">
    <li class="logo">
      <a class="brand" href="{{ '/' | to_baseurl }}">
        <span>{{ site.app.name }}</span>
        <object type="image/svg+xml" data="{{ '/media/app/logo-light.svg' | to_cdnurl }}">{{ site.app.name }}</object>
      </a>
    </li>

    {% for i in site.app.navpanel %}

      {% assign curpage = page.url | remove: '/' | remove: 'index.html' %}

      {% assign css = nil %}
      {% if forloop.first %}
        {% capture css %}{{ css | append: 'first,' }}{% endcapture %}
      {% elsif forloop.last %}
        {% capture css %}{{ css | append: 'last,' }}{% endcapture %}
      {% endif %}
      {% if curpage == i['slug'] %}
        {% capture css %}{{ css | append: 'active,' }}{% endcapture %}
      {% endif %}

      <li{% if css %} class="{{ css | split: ',' | join: ' ' }}"{% endif %}>
        <a href="{{ i['slug'] | prepend: '/' | append: '/' | to_baseurl }}"><i class="icon-{{ i['icon'] }}"></i> {{ i['name'] }}</a>
      </li>
    {% endfor %}
  </ul>
</nav><!-- #navpanel -->
