<meta name="robots" content="noodp,noydir" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.app.name }} - {{ site.app.tagline }}{% endif %}" />
  <meta property="og:site_name" content="{{ site.app.name }}" />
  <meta property="og:url" content="{% if page.url %}{{ page.url | remove: 'index.html' | to_absurl }}{% endif %}" />
  <link rel="image_src" href="{% if page.feature.image.src %}{{ page.feature.image.src | to_absurl }}{% else %}{{ '/media/app/meta.png' | to_absurl }}{% endif %}" />
  <meta property="og:image" content="{% if page.feature.image.src %}{{ page.feature.image.src | to_absurl }}{% else %}{{ '/media/app/meta.png' | to_absurl }}{% endif %}" />
  <meta property="og:type" content="{% if page.type == 'post' or page.type == 'page' %}article{% else %}website{% endif %}" />
  <meta property="og:locale" content="{{ site.app.locale }}" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines }}{% else %}{{ site.app.description | strip_html | strip_newlines }}{% endif %}" />
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines }}{% else %}{{ site.app.description | strip_html | strip_newlines }}{% endif %}" />