<article class="{{ page.type }} fulltext">
  <header class="article-header">
    <div class="row">
      <div class="large-8 large-centered columns">
        <h1 class="article-title" itemprop="headline">{{ page.title }}</h1>
      </div><!-- .columns -->
    </div><!-- .row -->
  </header><!-- .article-header -->

  <section class="article-content" itemprop="articleBody">
    <div class="row">
      <div class="large-8 large-centered columns">

        {{ content | sub_baseurl }}

      </div><!-- .columns -->
    </div><!-- .row -->
  </section><!-- .article-content -->

  <footer class="article-footer">
  </footer><!-- .article-footer -->
</article><!-- article -->
