<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ site.baseurl }}/{% if paginator.previous_page != 1 %}page{{ paginator.previous_page }}{% endif %}" class="previous">&#171; Newer</a>
  {% else %}
    <span class="previous disabled">&#171; Newer</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ site.baseurl }}/page{{ paginator.next_page }}" class="next">Older &#187;</a>
  {% else %}
    <span class="next disabled">Older &#187;</span>
  {% endif %}
</div>