<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{% if paginator.previous_page != 1 %}{{ paginator.previous_page | prepend: '/page' | append: '/' | to_baseurl }}{% endif %}" class="previous">&#171; Newer</a>
  {% else %}
    <span class="previous disabled">&#171; Newer</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page | prepend: '/page' | append: '/' | to_baseurl }}" class="next">Older &#187;</a>
  {% else %}
    <span class="next disabled">Older &#187;</span>
  {% endif %}
</div>