  <nav id="panelnav">
    <ul class="panelmenu">
      <li class="logo">
        <a class="brand" href="{{ '/' | to_baseurl }}">
          <span>{{ site.constants.name }}</span>
          <img src="{{ '/img/logo-light.svg' | to_baseurl }}" alt="{{ site.constants.name }}" />
        </a>
      </li>
      <li><a href="{{ '/blog/placeholder-post/' | to_baseurl }}">Nav Item 1</a></li>
      <li><a href="{{ '/blog/' | to_baseurl }}">Nav Item 2</a></li>
      <li><a href="#">Nav Item 3</a></li>
      <li><a href="#">Nav Item 4</a></li>
      <li><a href="#">Nav Item 5</a></li>
      <li><a href="#">Nav Item 6</a></li>
      <li><a href="#">Nav Item 7</a></li>
      <li><a href="#">Nav Item 8</a></li>
      <li><a href="#">Nav Item 9</a></li>
    </ul>
  </nav><!-- #panelnav -->