  <nav id="panelnav">
    <ul class="panelmenu">
      <li class="logo">
        <a class="brand" href="/">
          <span>{{ site.constants.name }}</span>
          <img src="{{ site.baseurl }}/img/brand.png" alt="{{ site.constants.name }}" />
        </a>
      </li>
      <li><a href="{{ site.baseurl }}/blog/placeholder-post/">Nav Item 1</a></li>
      <li><a href="{{ site.baseurl }}/blog/">Nav Item 2</a></li>
      <li><a href="#">Nav Item 3</a></li>
      <li><a href="#">Nav Item 4</a></li>
      <li><a href="#">Nav Item 5</a></li>
      <li><a href="#">Nav Item 6</a></li>
      <li><a href="#">Nav Item 7</a></li>
      <li><a href="#">Nav Item 8</a></li>
      <li><a href="#">Nav Item 9</a></li>
    </ul>
  </nav><!-- #panelnav -->