{% unless showexcerpt %}{% assign showexcerpt = false %}{% endunless %}
{% unless truncatewords %}{% assign truncatewords = 10 %}{% endunless %}
<article class="post aside" role="article" itemscope itemtype="http://schema.org/BlogPosting">

  {% if page.image.url %}
  <figure class="article-image">
    <a href="{{ page.url  | to_baseurl }}"><img src="{{ page.image.url | to_baseurl }}" alt="{% if page.image.alt %}{{ page.image.alt | escape_once }}{% else %}{{ page.title | escape_once }}{% endif %}"{% if page.image.attribution %} attribution="{{ page.image.attribution | escape_once }}"{% endif %} /></a>
  </figure><!-- .article-image -->
  {% endif %}

  <header class="article-header">
    {% if page.category %}<aside class="article-meta article-category"><a href="{{ page.category | prepend: '/' | append: '/' | to_baseurl }}">{{ page.category | upcase }}</a></aside>{% endif %}
    <h2 class="article-title"><a href="{{ page.url | to_baseurl }}">{{ page.title }}</a></h2>
  </header>

  {% if showexcerpt %}
  <section class="article-content" itemprop="articleBody">
    <p>{{ page.excerpt | strip_html | strip_newlines | truncatewords: truncatewords }}</p>
  </section>
  {% endif %}

  <footer class="article-footer">
    <aside class="article-meta article-date"><time class="published updated tdn" datetime="{{ page.date | date: '%Y-%m-%d' }}" pubdate>{{ page.date | date: '%B %d %Y' }}</time></aside>
  </footer><!-- .article-footer .article-info -->
</article>
