{% unless showmeta %}{% assign showmeta = false %}{% endunless %}
{% unless truncatewords %}{% assign truncatewords = 10 %}{% endunless %}
<article class="post aside{% if forloop.first %} first{% elsif forloop.last %} last{% endif %}" role="article" itemscope itemtype="http://schema.org/BlogPosting">

  <figure class="article-image">
    {% if page.image.url %}<a href="{{ page.url  | to_baseurl }}"><img src="{{ page.image.url | to_baseurl }}" alt="{% if page.image.alt %}{{ page.image.alt | escape_once }}{% else %}{{ page.title | escape_once }}{% endif %}"{% if page.image.attribution %} attribution="{{ page.image.attribution | escape_once }}"{% endif %} /></a>{% endif %}
  </figure><!-- .article-image -->

  <header class="article-header">
    <h2 class="article-title"><a href="{{ page.url | to_baseurl }}">{{ page.title }}</a></h2>
  </header>

  <aside class="article-info">
    {% if showmeta %}<p>{% include meta.html %}</p>{% endif %}
  </aside><!-- .article-info -->

  <section class="article-content" itemprop="articleBody">
    <p>{{ page.excerpt | strip_html | strip_newlines | truncatewords: truncatewords }}</p>
  </section>

  <footer class="article-footer">
  </footer><!-- .article-footer -->
</article>
