{% unless showexcerpt %}{% assign showexcerpt = false %}{% endunless %}
{% unless truncatewords %}{% assign truncatewords = 10 %}{% endunless %}
<article class="post aside" role="article" itemscope itemtype="http://schema.org/BlogPosting">

  {% if page.feature.image.src %}
  <figure class="feature article-feature">
    <a href="{{ page.url | to_baseurl }}"><img src="{{ page.feature.image.src | to_cdnurl }}" alt="{{ page.title | escape_once }}" /></a>
  </figure><!-- .article-feature -->
  {% endif %}

  <header class="article-header">
    {% if page.category %}<aside class="article-meta article-category"><a href="{{ page.category | sanitize_str | prepend: '/' | append: '/' | to_baseurl }}">{{ page.category | upcase }}</a>{% for f in page.feature %}{% unless f[0] == 'image' %}&nbsp;&nbsp;<span class="radius label">{{ f[0] | downcase }}</span>{% endunless %}{% endfor %}</aside>{% endif %}
    <h2 class="article-title"><a href="{{ page.url | to_baseurl }}">{{ page.title }}</a></h2>
  </header>

  {% if showexcerpt %}
  <section class="article-content" itemprop="articleBody">
    <p>{{ page.excerpt | strip_html | strip_newlines | truncatewords: truncatewords }}</p>
  </section>
  {% endif %}

  <footer class="article-footer">
    <aside class="article-meta article-date"><time class="published updated tdn" datetime="{{ page.date | date: '%Y-%m-%d' }}" pubdate>{{ page.date | date: '%b %d %Y' }}</time></aside>
  </footer><!-- .article-footer .article-info -->
</article>
