{% if site.related_posts != empty %}
  <section class="related">
    <div class="row">
      <div class="columns">
        <ul class="index small-block-grid-1 large-block-grid-3">
          {% for page in site.related_posts limit: 3 %}
            <li{% if forloop.first %} class="first"{% elsif forloop.last %} class="last"{% endif %}>

              {% include post-aside.html %}

            </li>
          {% endfor %}
        </ul><!-- .archive -->
      </div><!-- .columns -->
    </div><!-- .row -->
  </section><!-- .related -->
{% endif %}