<article class="{{ page.type }} fulltext" role="article" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="article-header">
    <h1 class="article-title" itemprop="headline">{{ page.title }}</h1>

    {% if page.feature %}
    <figure class="article-feature">
      <a name="feature"></a>
      {% if page.feature.video %}

        <div class="flex-video{% if page.feature.video.aspect == 'wide' %} widescreen{% endif %}{% if page.feature.video.host == 'vimeo' %} vimeo{% endif %}">

          {% if page.feature.video.host == 'youtube' or page.feature.video.host == 'vimeo' %}

            <iframe width="960" height="540" src="{{ page.feature.video.src }}" frameborder="0" allowfullscreen></iframe>

          {% elsif page.feature.video.host == 'self' %}

            <video src="{{ page.feature.video.src }}"></video>

          {% endif %}
        </div><!-- .flex-video -->

      {% elsif page.feature.audio %}

        <audio src="{{ page.feature.audio.src }}"></audio>

      {% elsif page.feature.gallery %}

        {% if page.feature.image %}
          <img src="{{ page.feature.image.src | to_cdnurl }}" alt="{{ page.title | escape_once }}" />
        {% endif %}

        <ul class="clearing-thumbs" data-clearing>
          {% for t in page.feature.gallery.items %}
            <li><a href="{{ t.src | to_cdnurl }}"><img src="{{ 'need thumb src here' }}" data-caption="{{ t.caption | escape_once }}" /></li>
          {% endfor %}
        </ul>

      {% elsif page.feature.image %}

        <img src="{{ page.feature.image.src | to_cdnurl }}" alt="{{ page.title | escape_once }}" />

      {% endif %}
    </figure><!-- .article-feature -->
    {% endif %}

    <aside class="article-meta">
      <div class="row">
        <div class="large-8 large-centered columns">

          <time class="published updated tdn" datetime="{{ page.date | date: '%Y-%m-%d' }}" pubdate>{{ page.date | date: '%b %d %Y' }}</time>&nbsp;&nbsp;/&nbsp;&nbsp;<a rel="author" href="http://{% if page.author.link %}{{ page.author.link }}{% else %}{{ site.app.author.link }}{% endif %}" class="url fn tdn" target="_blank"><span class="author">{% if page.author.name %}{{ page.author.name }}{% else %}{{ site.app.author.name }}{% endif %}</span></a>{% if page.category %}&nbsp;&nbsp;/&nbsp;&nbsp;<a href="{{ page.category | sanitize_str | prepend: '/' | append: '/' | to_baseurl }}">{{ page.category | upcase }}</a>{% endif %}

          <!--
          This post was posted by {% include post/author.html %} on {% include post/date.html %}{{ time }} in {% include post/categories.html %}{% if site.disqus_short_name and post.comments != false and site.disqus_show_comment_count == true and post.url %} with  <a href="{{ root_url }}{{ post.url }}#disqus_thread" data-disqus-identifier="http://.com{{ post.url }}">Comments</a>{% endif %}. {% if article_date %} If you would like to update this post, <a href="{{site.githuburl}}/{{article_date | date: '%Y-%m-%d'}}-{{article_url | remove_first: '/', | replace_first: '.html','.md' }}">please send a pull request</a>.{% endif %}
          -->

        </div><!-- .columns -->
      </div><!-- .row -->
    </aside><!-- .article-info -->
  </header><!-- .article-header -->

  <section class="article-content" itemprop="articleBody">
    <div class="row">
      <div class="large-8 large-centered columns">

        {{ content }}

      </div><!-- .columns -->
    </div><!-- .row -->
  </section><!-- .article-content -->

  <footer class="article-footer">
  </footer><!-- .article-footer -->
</article><!-- .{{ page.type }} -->
