<article class="{{ page.type }} fulltext" role="article" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="article-header">
    <h1 class="article-title" itemprop="headline">{{ page.title }}</h1>

    {% if page.image.url %}
    <figure class="article-image">
      <a name="lead-image"></a>
        <img src="{{ page.image.url | to_baseurl }}" alt="{% if page.image.alt %}{{ page.image.alt | escape }}{% else %}{{ page.title | escape }}{% endif %}"{% if page.image.attribution %} attribution="{{ page.image.attribution | escape }}"{% endif %} />
    </figure><!-- .article-image -->
    {% endif %}

    <aside class="article-meta">
      <div class="row">
        <div class="large-8 large-centered columns">

          <time class="published updated tdn" datetime="{{ page.date | date: '%Y-%m-%d' }}" pubdate>{{ page.date | date: '%B %d %Y' }}</time>&nbsp;&nbsp;/&nbsp;&nbsp;<a rel="author" href="http://{% if page.author.domain %}{{ page.author.domain }}{% else %}{{ site.constants.author.domain }}{% endif %}" class="url fn tdn" target="_blank"><span class="author">{% if page.author.name %}{{ page.author.name }}{% else %}{{ site.constants.author.name }}{% endif %}</span></a>{% if page.category %}&nbsp;&nbsp;/&nbsp;&nbsp;<a href="{{ page.category | prepend: '/' | append: '/' | to_baseurl }}">{{ page.category | upcase }}</a>{% endif %}

          <!--
          This post was posted by {% include post/author.html %} on {% include post/date.html %}{{ time }} in {% include post/categories.html %}{% if site.disqus_short_name and post.comments != false and site.disqus_show_comment_count == true and post.url %} with  <a href="{{ root_url }}{{ post.url }}#disqus_thread" data-disqus-identifier="http://nimbupani.com{{ post.url }}">Comments</a>{% endif %}. {% if article_date %} If you would like to update this post, <a href="{{site.githuburl}}/{{article_date | date: '%Y-%m-%d'}}-{{article_url | remove_first: '/', | replace_first: '.html','.md' }}">please send a pull request</a>.{% endif %}
          -->

        </div><!-- .columns -->
      </div><!-- .row -->
    </aside><!-- .article-info -->
  </header><!-- .article-header -->

  <section class="article-content" itemprop="articleBody">
    <div class="row">
      <div class="large-8 large-centered columns">

        {{ content | sub_baseurl }}

      </div><!-- .columns -->
    </div><!-- .row -->
  </section><!-- .article-content -->

  <footer class="article-footer">
  </footer><!-- .article-footer -->
</article><!-- .{{ page.type }} -->
