<section class="related">
  <div class="row flex-row collapse">
    <div class="item-new large-4 columns flex-col">
      <h1 class="ribbon section-ribbon"><i class="icon-globe"></i> The New Stuff</h1>

      <ul class="item-index item-list">
        {% if site.posts != empty %}
          {% for page in site.posts limit: 1 %}
            <li>

              {% include post-aside.html %}

            </li>
          {% endfor %}
        {% endif %}
      </ul><!-- .archive -->
    </div><!-- .columns -->

    <div class="item-hot large-4 columns flex-col">
      <h1 class="ribbon section-ribbon hot"><i class="icon-signal"></i> Trending</h1>

      <ul class="item-index item-list">
        {% for page in site.posts limit: 1 offset: 1 %}
          <li>

            {% include post-aside.html %}

          </li>
        {% endfor %}
      </ul><!-- .archive -->
    </div><!-- .columns -->

    <div class="item-trend large-4 columns flex-col">
      <h1 class="ribbon section-ribbon"><i class="icon-fire"></i> What's Hot</h1>

      <ul class="item-index item-list">
        {% for page in site.posts limit: 1 offset: 1 %}
          <li>

            {% assign showexcerpt = true %}
            {% assign truncatewords = 25 %}
            {% include post-aside.html %}

          </li>
        {% endfor %}
      </ul><!-- .archive -->
    </div><!-- .columns -->
  </div><!-- .row -->
</section><!-- .related -->
