{% if site.app.disqus-user and site.mode == 'production' %}
<section id="comments">
  <div class="row">
    <div class="columns">
      <div id="disqus_thread"></div>
      <script>
        var disqus_shortname = '{{ site.app.disqus-user }}';

        (function() {
          var dsq = document.createElement('script');
          dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
    </div><!-- .columns -->
  </div><!-- .row -->
</section><!-- #comments -->
{% endif %}
