<article class="post summary" role="article" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="row">
    <div class="large-3 columns">

      {% if page.image.url %}
      <figure class="article-image">
        <a name="lead-image"></a>
          <img src="{{ page.image.url | to_baseurl }}" alt="{% if page.image.alt %}{{ page.image.alt | escape_once }}{% else %}{{ page.title | escape_once }}{% endif %}"{% if page.image.attribution %} attribution="{{ page.image.attribution | escape_once }}"{% endif %} />
      </figure><!-- .article-image -->
      {% endif %}

    </div><!-- .columns -->
    <div class="large-9 columns">

      <header class="article-header">
        <h2 class="article-title" itemprop="headline"><a href="{{ page.url  | to_baseurl }}">{{ page.title }}</a></h2>

        <aside class="article-info">
          <div class="row">
            <div class="columns">

              <p>{% include meta.html %}</p>

            </div><!-- .columns -->
          </div><!-- .row -->
        </aside><!-- .article-info -->
      </header><!-- .article-header -->

      <section class="article-content" itemprop="articleBody">
        <div class="row">
          <div class="columns">

            <p>{{ page.excerpt | strip_html | strip_newlines | truncatewords: 20 }}</p>

          </div><!-- .columns -->
        </div><!-- .row -->
      </section><!-- .article-content -->

      <footer class="article-footer">
      </footer><!-- .article-footer -->

    </div><!-- .columns -->
  </div><!-- .row -->
</article><!-- .post -->
