<article class="page aside" role="article">

  <figure class="feature article-feature">
    <a href="{{ n.url | to_baseurl }}"><img src="{{ n.image | to_cdnurl }}" alt="{{ n.title | escape_once }}" /></a>
  </figure><!-- .article-feature -->

  <header class="article-header">
    <h2 class="article-title"><a href="{{ n.url | to_baseurl }}">{{ n.title }}</a></h2>
  </header>

  <section class="article-content" itemprop="articleBody">
    <p>{{ n.excerpt | strip_html | strip_newlines | truncatewords: 25 }}</p>
  </section>

  <footer class="article-footer">
    <aside class="article-meta">
      Skills:&nbsp;

      {% for s in n.skills %}
        <span class="label secondary radius">{{ s }}</span>
      {% endfor %}
    </aside>
  </footer><!-- .article-footer .article-info -->
</article>
