{% if site.related_posts != empty %}
<section id="related">
  <div class="row">
    {% for post in site.related_posts limit: 3 %}
      <div class="large-4 columns">
        <article class="{% if forloop.first %}first{% elsif forloop.last %}last{% endif %}">

          {% if post.image.url %}
          <figure class="article-image">
            <img src="{{ post.image.url | to_baseurl }}" alt="{ post.title | escape_once }}" />
          </figure><!-- .article-image -->
          {% endif %}

          <h3 class="article-title"><a href="{{ post.url | to_baseurl }}">{{ post.title }}</a></h3>

          <p class="article-excerpt">{{ post.excerpt | strip_html | strip_newlines | truncatewords: 10 }}</p>
        </article>
      </div><!-- .small-4.columns -->
    {% endfor %}
  </div><!-- .row -->
</section><!-- .related -->
{% endif %}