  <div id="sticky">
      <div class="navwrap">

        <nav id="navbar">

          <!-- Title / Menu Section -->
          <ul class="title-area">
            <li class="toggle-menu menu-icon"><a href="#"></a></li>

            <li class="logo">
              <a class="brand" href="{{ site.baseurl }}/">
                <span>{{ site.constants.name }}</span>
                <img src="{{ site.baseurl }}/img/logo-light.svg" alt="{{ site.constants.name }}" />
              </a>
            </li> <!-- .logo -->
          </ul> <!-- .title-area -->

          <section class="navsection">
            <ul class="left navmenu">
              <li class="submenu">
                <a href="{{ site.baseurl }}/blog/">Blog</a>

                <div class="submenu-content">
                  <div class="page-container">
                    <ul class="inline-list">
                      {% if site.posts %}
                        {% for post in site.posts limit:3 %}
                        <li>
                          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                        </li>
                        {% endfor %}
                      {% else %}
                        <li>No posts to list...</li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </li>
              <li><a href="{{ site.baseurl }}/portfolio/">Portfolio</a></li>
              <li><a href="{{ site.baseurl }}/resume/">Résumé</a></li>
              <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>

              <!--<li class="submenu">
                <a href="#">Item 2</a>

                <div class="submenu-content">
                  <div class="page-container">
                    <ul class="left">
                      <li>Item 2 Sub Item 1</li>
                      <li>Item 2 Sub Item 2</li>
                      <li>Item 2 Sub Item 3</li>
                    </ul>

                    <ul class="right">
                      <li>Item 2 Sub Item 4</li>
                      <li>Item 2 Sub Item 5</li>
                      <li>Item 2 Sub Item 6</li>
                    </ul>
                  </div>
                </div>
              </li>--> <!-- .submenu -->
            </ul> <!-- .navmenu -->

            <ul class="right usermenu">
              <li><a href="{{ site.baseurl }}/search/">S</a></li>
              <li><a rel="nofollow" target="_blank" href="//facebook.com/{{ site.constants.facebook }}">F</a></li>
              <li><a rel="nofollow" target="_blank" href="//twitter.com/{{ site.constants.twitter }}">T</a></li>
            </ul> <!-- .usermenu -->
          </section><!-- .navsection -->

        </nav><!-- #navbar -->

      </div> <!-- .navwrap -->
    </div><!-- #sticky -->