---
layout: archive
subtype: blog
title: Blog
excerpt: |
  Information, tutorials, howtos and great content on topics related to modern day responsive mobile-first web development and design with a focus on workflow optimization.
---

{% assign showmeta = true %}
{% assign truncatewords = 20 %}
{% if paginator.posts != empty %}
  <ul class="archive large-block-grid-3">
    {% for page in paginator.posts %}
      <li>

        {% include post-aside.html %}

      </li>
    {% endfor %}
  </ul><!-- .archive -->
  {% include pagination.html %}
{% endif %}
