// Global APP and Vendor Settings
@import "settings";

// Required global settings and mixins for Foundation. We don't want
// to reprint the global classes though, just need the
// variables/mixins.
$include-html-global-classes: false;
@import "foundation/components/global";

// foundation/_grid.scss: Not overriding these, but putting them here for use in
// app.css
$column-gutter: emCalc(30px) !default;
$total-columns: 12 !default;

// foundation/_grid.scss. Not an override, just a helper:
$half-gutter: $column-gutter / 2;

// foundation/_top-bar.scss, copied top bar breakpoint:
$topbar-breakpoint: emCalc(940px);
$topbar-media-query: "only screen and (min-width:"#{$topbar-breakpoint}")";

// foundation/type.scss, for other elements we want similar margins on
$paragraph-margin-bottom: emCalc(20px);

// Special for an a href tag to have a link around an object > svg, when
// used as an image. Otherwise links won't be clickable.
@mixin a-osvg {
  line-height: 0;
  position: relative;
  display: inline-block;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  object {
    height: auto;
  }
}

// App Global SCSS
@import "app/app-global";