<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="{{ site.constants.lang }}" dir="{{ site.constants.dir }}"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="{{ site.constants.lang }}" dir="{{ site.constants.dir }}"><!--<![endif]-->
<head>
  <meta charset="{{ site.constants.encoding }}" />
  <meta name="viewport" content="{{ site.constants.viewport }}">

  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.constants.name }}{% if page.type == 'home' %} - {{ site.constants.tagline }}{% endif %}</title>

  <link type="text/plain" rel="author" href="{{ site.baseurl }}/humans.txt" />


  <link rel="alternate" type="application/atom+xml" title="{{ site.constants.name }} - ATOM RSS Feed" href="//feeds.feedburner.com/{{ site.constants.feed-name }}" />

  <meta property="fb:app_id" content="{{ site.constants.facebook-appid }}" />
  <meta property="fb:admins" content="{{ site.constants.facebook-admin }}" />
  <link rel="publisher" href="https://plus.google.com/{{ site.constants.gplus-publisher }}" />

  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}{{ site.baseimg }}apple-touch-icon-114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}{{ site.baseimg }}apple-touch-icon-72.png">
  <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}{{ site.baseimg }}apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}{{ site.baseimg }}apple-touch-icon.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">

  <link rel="stylesheet" href="{{ site.baseurl }}/css/vendor.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/app.css" />

  <script src="{{ site.baseurl }}/js/modernizr.js"></script>

  {% include og.html %}

</head>
<body>

  {% include panelnav.html %}

  <div id="peek">

    {% include topbar.html %}

    <div id="scrollable">
      <div id="container" class="row">
        <div id="main">

          {{ content }}

        </div><!-- #main -->
      </div><!-- #container.row -->

      {% include footer.html %}

    </div><!-- #scrollable -->
  </div><!-- #peek -->

  <div id="fb-root"></div>
  {% include analytics.html %}

  <script>document.write('<script src={{ site.baseurl }}/js/' + ('__proto__' in {} ? 'zepto' : 'jquery') + '.js><\/script>')</script>

  <script src="{{ site.baseurl }}/js/vendor.js"></script>
  <script src="{{ site.baseurl }}/js/app.js"></script>
</body>
</html>