<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="{{ site.app.lang }}" dir="{{ site.app.dir }}"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="{{ site.app.lang }}" dir="{{ site.app.dir }}"><!--<![endif]-->
<head>
  <meta charset="{{ site.app.encoding }}" />
  <meta name="viewport" content="{{ site.app.viewport }}">

  <title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.app.name }}{% if page.type == 'home' %} {{ site.app.tagline }}{% endif %}</title>

  {% if site.app.mode == 'production' %}<!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,800" /> -->{% endif %}
  <link rel="stylesheet" href="{{ '/assets/vendor.css' | to_cdnurl }}" />
  <link rel="stylesheet" href="{{ '/assets/app.css' | to_cdnurl }}" />

  <link type="text/plain" rel="author" href="{{ '/humans.txt' | to_baseurl }}" />

  <link rel="alternate" type="application/atom+xml" title="{{ site.app.name }} - ATOM RSS Feed" href="//feeds.feedburner.com/{{ site.app.feed-name }}" />

  <meta property="fb:app_id" content="{{ site.app.facebook-appid }}" />
  <meta property="fb:admins" content="{{ site.app.facebook-admin }}" />
  <link rel="publisher" href="https://plus.google.com/{{ site.app.gplus-publisher }}" />

  <link rel="apple-touch-icon" href="{{ '/media/app/apple-touch-icon.png' | to_cdnurl }}"/>
  <link rel="icon" href="{{ '/media/app/favicon.png' | to_cdnurl }}">

  {% include og.html %}

  <script src="{{ '/assets/modernizr.js' | to_cdnurl }}"></script>

</head>
<body class="{{ page.type }}">

  {% include nav-panel.html %}

  <div id="peek">

    {% include nav-bar.html %}

    <div id="scrollable">
      <div id="main">

        {{ content }}

      </div><!-- #main -->

      {% include footer.html %}

    </div><!-- #scrollable -->
  </div><!-- #peek -->

  <div id="fb-root"></div>
  {% include analytics.html %}

  <script>document.write('<script src="{{ '/assets/' | to_cdnurl }}' + ('__proto__' in {} ? 'zepto' : 'jquery') + '.js"><\/script>')</script>

  <script src="{{ '/assets/vendor.js' | to_cdnurl }}"></script>
  <script src="{{ '/assets/app.js' | to_cdnurl }}"></script>
  {% if site.app.mode == 'production' and page.type == 'home' %}<script src="//platform.twitter.com/widgets.js"></script>{% endif %}
</body>
</html>
