<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="{{ site.constants.lang }}" dir="{{ site.constants.dir }}"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="{{ site.constants.lang }}" dir="{{ site.constants.dir }}"><!--<![endif]-->
<head>
  <meta charset="{{ site.constants.encoding }}" />
  <meta name="viewport" content="{{ site.constants.viewport }}">

  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.constants.name }}{% if page.type == 'home' %} - {{ site.constants.tagline }}{% endif %}</title>

  <link type="text/plain" rel="author" href="{{ '/humans.txt' | to_baseurl }}" />

  <link rel="alternate" type="application/atom+xml" title="{{ site.constants.name }} - ATOM RSS Feed" href="//feeds.feedburner.com/{{ site.constants.feed-name }}" />

  <meta property="fb:app_id" content="{{ site.constants.facebook-appid }}" />
  <meta property="fb:admins" content="{{ site.constants.facebook-admin }}" />
  <link rel="publisher" href="https://plus.google.com/{{ site.constants.gplus-publisher }}" />

  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ '/img/apple-touch-icon-114.png' | to_baseurl }}">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ '/img/apple-touch-icon-72.png' | to_baseurl }}">
  <link rel="apple-touch-icon-precomposed" href="{{ '/img/apple-touch-icon-precomposed.png' | to_baseurl }}">
  <link rel="shortcut icon" href="{{ '/img/apple-touch-icon.png' | to_baseurl }}">
  <link rel="shortcut icon" href="{{ '/favicon.ico' | to_baseurl }}">

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,800" />
  <link rel="stylesheet" href="{{ '/css/vendor.css' | to_baseurl }}" />
  <link rel="stylesheet" href="{{ '/css/app.css' | to_baseurl }}" />

  <script src="{{ '/js/modernizr.js' | to_baseurl }}"></script>

  {% include og.html %}

</head>
<body class="{{ page.type }}">

  {% include nav-panel.html %}

  <div id="peek">

    {% include nav-bar.html %}

    <div id="scrollable">
      <div id="main">

        {{ content }}

      </div><!-- #main -->

      {% include footer.html %}

    </div><!-- #scrollable -->
  </div><!-- #peek -->

  <div id="fb-root"></div>
  {% include analytics.html %}

  <script>document.write('<script src="{{ '/js/' | to_baseurl }}' + ('__proto__' in {} ? 'zepto' : 'jquery') + '.js"><\/script>')</script>

  <script src="{{ '/js/vendor.js' | to_baseurl }}"></script>
  <script src="{{ '/js/app.js' | to_baseurl }}"></script>
</body>
</html>