---
layout: default
type: home
---

<div class="row">
  <div id="primary" class="large-12 columns" role="content">

    <section class="masthead">
      <div class="row collapse">
        <div class="columns">
          <img src="{{ '/media/pages/mast.jpg' | to_cdnurl }}">
        </div><!-- .columns -->
      </div><!-- .row -->
    </section><!-- .masthead -->

    <hr />

    <section class="panels">
      <div class="row">
        <div class="large-4 columns">
          <div class="panel">
            <h2>Portfolio</h2>

            <p>Want more than just a brochure website? How about a web application that offers a killer-app feature that people willingly pay money to use? My team and I can help you turn your idea into profit.</p>

            <a href="{{ '/portfolio/' | to_baseurl }}" class="small button">View Projects</a>
          </div>

        </div><!-- .columns -->
        <div class="large-4 columns">
          <div class="panel">
            <h2>Résumé</h2>

            <p>With over 12 years in the Internet Industry building websites, email marketing platforms and subscription/continuity membership sites, my team and I bring valuable experience to your inspired project.</p>

            <a href="{{ '/resume/' | to_baseurl }}" class="small button">View Résumé</a>
          </div>

        </div><!-- .columns -->
        <div class="large-4 columns">

          <div class="panel">
            <h2>Connect</h2>

            <p>Let's connect for an informational pow-wow about your project or idea. Initial consultations are offered at no-cost to you! Just curious? Follow me on your favorite Social or Professional Network.</p>

            <a href="{{ '/contact/' | to_baseurl }}" class="small button">Connect Options</a>
          </div>

        </div><!-- .columns -->
      </div><!-- .row -->
    </section><!-- .panels -->

  </div><!-- #primary.columns -->
</div><!-- .row -->
