---
layout: default
type: page
---

<div class="row">
  <div id="primary" class="large-12 columns" role="content">

    <hgroup class="page-header">
      <div class="row">
        <div class="columns large-offset-3">

          <h1 class="page-title" itemprop="headline">{{ page.title }}</h1>

        </div><!-- .columns -->
      </div><!-- .row -->
    </hgroup><!-- .page-header -->

    <article class="{{ page.type }} fulltext">
      <section class="article-content" itemprop="articleBody">
        <div class="row">
          <div class="large-6 large-centered columns">

            {{ content }}

          </div><!-- .columns -->
        </div><!-- .row -->
      </section><!-- .article-content -->

      <footer class="article-footer">
      </footer><!-- .article-footer -->
    </article><!-- article -->

  </div><!-- #primary.columns -->
</div><!-- .row -->
