---
layout: default
type: page
---

<div class="row">
  <div id="primary" class="large-12 columns" role="content">

    {% include page-ribbon.html %}

    <article class="{{ page.type }} fulltext">
      <section class="article-content" itemprop="articleBody">
        <div class="row">
          <div class="large-6 large-centered columns">

            {{ content }}

          </div><!-- .columns -->
        </div><!-- .row -->
      </section><!-- .article-content -->

      <footer class="article-footer">
      </footer><!-- .article-footer -->
    </article><!-- article -->

  </div><!-- #primary.columns -->
</div><!-- .row -->
