---
layout: archive
subtype: tag
---

{% assign showmeta = true %}
{% assign showexcerpt = true %}
{% assign truncatewords = 20 %}
<ul class="item-index item-grid large-block-grid-5">
  {% for post in site.posts %}
    {% for tag in post.tags %}
      {% if tag == page.tag %}
        {% assign temp = page %}
        {% assign page = post %}
        <li>

          {% include post-aside.html %}

        </li>
        {% assign page = temp %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul><!-- .tags.archive -->
